<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../styles/shared-styles.html">

<dom-module id="details-view">
  <template>
    <style include="shared-styles">
      :host {
      }

      ul {
        list-style: none;
        padding: 8px 16px;
        margin: 0 0 80px 0;
      }

      li {
        line-height: 18px;
        font-size: 12px;
        padding: 4px 0;
      }

      .param {
        /*color: var(--primary-color);*/
        color: var(--secondary-text-color);
        font-size: 13px;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .value {
        /*color: var(--primary-text-color);*/
        color: var(--secondary-text-color);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 96px;
      }
    </style>

    <ul>
      <template is="dom-repeat" items="[[selectedSim]]">
        <li>
          <div class="param" title="[[item.name]]">[[item.name]]</div>
          <div class="value" title="[[item.value]]">[[item.value]]</div>
        </li>
      </template>
    </ul>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'details-view',

      properties: {
        params: Array,
        sim: String,
        selectedSim: Array
      },

      observers: [
        '_paramsChanged(params.*)',
        '_simChanged(sim)'
      ],

      _paramsChanged: function() {
        var simProps = {};
        for (var i = 1; i < this.params.length; i++) {
          var sim = [];
          for (var j = 0; j < this.params[0].length; j++) {
            sim.push({ name: this.params[0][j], value: this.params[i][j] });
          }
          simProps[this.params[i][0]] = sim;
        }
        this.simProps = simProps;
      },

      _simChanged: function() {
        this.selectedSim = this.sim ? this.simProps[this.sim] : null;
      }
    });
  })();
  </script>
</dom-module>
