<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html"/>
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html"/>
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html"/>
<link rel="import" href="../../bower_components/paper-input/paper-input.html"/>
<link rel="import" href="../../bower_components/paper-material/paper-material.html"/>
<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html"/>
<link rel="import" href="../behaviors/graph-behavior.html"/>
<link rel="import" href="../behaviors/plot-behavior.html"/>
<link rel="import" href="../behaviors/plot-menu-behavior.html"/>
<link rel="import" href="../behaviors/filterable-behavior.html"/>
<link rel="import" href="plot-styles.html"/>

<dom-module id="plot-params">
  <template>
    <style include="plot-styles">
      .header > * + * {
        margin-left: 8px;
      }

      .header > paper-input {
        flex: 1 1 30px;
        max-width: 35px;
        min-width: 22px;
        display: inline-block;
      }

      .header > span {
        flex: 0 0 8px;
        align-self: center;
      }

      .header > paper-dropdown-menu {
        flex: 1 1 120px;
        max-width: 160px;
        min-width: 80px;
      }

      dygraph-scatter {
        margin-left: -8px;
      }
    </style>

    <paper-tooltip for="stretch" position="top" fitToVisibleBounds="true" animation-delay="0" exit-animation="none" offset="4">Redimensionar</paper-tooltip>
    <paper-tooltip for="setLog" position="top" fitToVisibleBounds="true" animation-delay="0" exit-animation="none" offset="4">Aplicar escala log</paper-tooltip>
    <paper-tooltip for="setLimits" position="top" fitToVisibleBounds="true" animation-delay="0" exit-animation="none" offset="4">Fixar limites</paper-tooltip>
    <paper-tooltip for="setObs" position="top" fitToVisibleBounds="true" animation-delay="0" exit-animation="none" offset="4">Formatar histórico</paper-tooltip>

    <paper-material id="box" animated elevation="1" class="box">

    <div id="dragger" class="drag-bar">
      <iron-icon icon="simular:drag-handle"></iron-icon>
    </div>

    <!-- Menu -->
    <plot-menu id="menu" on-back-click="_closeMenu">
      <plot-menu-item id="stretch" label="Redimensionar" icon="simular:stretch-horizontal">
        <paper-material id="widthCard" elevation="1" class="option-card width-card">
          <paper-slider min="1" max="3" value="[[_computeSlider(plot.cols)]]" on-change="_onSliderChange"></paper-slider>
        </paper-material>
      </plot-menu-item>
      <plot-menu-item id="setLog" icon="simular:log">
        <paper-material id="logCard" elevation="1" class="option-card log-card">
          <paper-toggle-button checked="[[plot.logscale.x]]" on-change="_onXLogChange">X</paper-toggle-button>
          <paper-toggle-button checked="[[plot.logscale.y]]" on-change="_onYLogChange">Y</paper-toggle-button>
        </paper-material>
      </plot-menu-item>
      <plot-menu-item id="setLimits" icon="simular:ray-start-end">
        <paper-material id="limitCard" elevation="1" class="option-card limit-card">
          <div><paper-input id="xRangeMin" label="x₀" value="[[plot.range.x.min]]" on-change="_onXMinRangeChange"></paper-input><paper-input id="xRangeMax" label="x₁" value="[[plot.range.x.max]]" on-change="_onXMaxRangeChange"></paper-input></div>
          <div><paper-input id="yRangeMin" label="y₀" value="[[plot.range.y.min]]" on-change="_onYMinRangeChange"></paper-input><paper-input id="yRangeMax" label="y₁" value="[[plot.range.y.max]]" on-change="_onYMaxRangeChange"></paper-input></div>
        </paper-material>
      </plot-menu-item>
      <plot-menu-item id="setObs" icon="simular:obs">
        <paper-material id="obsCard" elevation="1" class="option-card obs-card">
          <div class="obs-color">
            <paper-input id="obsColor" class="obs-color-input" label="Cor" value="[[plot.obs.color]]" on-change="_onObsChange"></paper-input>
            <paper-swatch-picker id="obsColorPicker" class="obs-color-picker" color="[[plot.obs.color]]" on-color-picker-selected="_onObsColorPickerChange" noink></paper-swatch-picker>
          </div>
        </paper-material>
      </plot-menu-item>
    </plot-menu>

    <div class="pad-left"></div>

    <div class="container">
      <iron-icon icon="simular:menu" class="plot-action menu-icon" on-tap="_openMenu"></iron-icon>
      <iron-icon icon="simular:close" class="plot-action delete-icon" on-tap="_deletePlot"></iron-icon>

      <div class="header">
        <paper-dropdown-menu id="yDropdown" no-label-float on-paper-dropdown-open="_fixDropdownHeight">
          <paper-listbox class="dropdown-content" selected="[[plot.y]]" attr-for-selected="data-param" on-iron-select="_onYSelected" on-click="_onYClick">
            <template id="yTemplate" is="dom-repeat" items="[[params.0]]">
              <paper-item data-param$="[[index]]">[[item]]</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>

        <span>x</span>

        <paper-dropdown-menu id="xDropdown" no-label-float on-paper-dropdown-open="_fixDropdownHeight">
          <paper-listbox class="dropdown-content" selected="[[plot.x]]" attr-for-selected="data-param" on-iron-select="_onXSelected">
            <template id="xTemplate" is="dom-repeat" items="[[params.0]]">
              <paper-item data-param$="[[index]]">[[item]]</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>

        <!--<paper-input value="{{widthRatio}}" class="cols" no-label-float type="number" max="12" min="1"></paper-input>-->
      </div>

      <div class="content">
        <dygraph-scatter id="dygraph"
                         class="content hide-labels show-highlighted-label"
                         data="[[_getParamsData(params, plot.x, plot.y)]]"
                         label="0"
                         x="[[_getParam(plot.x)]]"
                         y="[[_getParam(plot.y)]]"
                         graph="{{graph}}"
                         options="[[_options]]"
                         width="100%"
                         height="[[height]]"
                         no-auto-update
                         no-highlight-event="[[!highlighting]]"
                         no-point-click-event
                         no-click-event
                         on-zoom="_ensureXRange"></dygraph-scatter>
      </div>
    </div>

    <div class="pad-right"></div>
    </paper-material>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'plot-params',

      behaviors: [
        Simular.Plot,
        Simular.PlotMenu,
        Simular.Graph,
        Simular.Filterable,
        Polymer.NeonAnimationRunnerBehavior
      ],

      properties: {
        position: {
          type: Object,
          notify: true
        },
        _options: Object,

        animationConfig: {
          value: function() {
            return {
              name: 'fade-out-animation',
              node: this,
              timing: {duration: 300}
            }
          }
        }
      },

      listeners: {
        'neon-animation-finish': '_fireDelete'
      },

      observers: [
        '_refreshTemplates(params.*)'
      ],

      attached: function() {
        this._setStyleDropdown(this.$.yDropdown, {cursor: 'pointer'});
        this._setStyleDropdown(this.$.xDropdown, {cursor: 'pointer'});

        if (!this.plot.y) {
          this.async(function() { this.focus() });
        }
      },

      focus: function() {
        // Workaround to focus on paper-dropdown element
        this._focusDropdown(this.$.yDropdown);
      },

      _deletePlot: function() {
        this.playAnimation();
      },

      _fireDelete: function() {
        this.fire('delete', this, {bubbles: false});
      },

      _openMenu: function() {
        this.$.menu.show();
        this.toggleClass('active', true);
      },

      _graphChanged: function(g, old) {
        console.warn('_graphChanged');
        console.log(g);

        if (old != null && g != null && this.params) {
          this._applyFilters(this.params);
          this._updateOptions();
        }

        this.fire('graph-change', g);
      },

      _updateOptions: function() {
        console.warn('_updateOptions');

        var o = this.copyOptions();
        this._setYRange(o);
        this._setXRange(o);
        this._setLogscale(o);
        this._setObs(o);

        o.colors = this.colors;
        o.visibility = this.visibility;
        o.highlightSeriesOpts = this.highlightSeriesOpts;
        o.showLabelsOnHighlight = this.highlighting;
        o.drawPoints = true;
        o.pointSize = 2;
        o.xRangePad = 8;

        this._options = o;

        this._keepZoom();

        this.$.dygraph.refresh();
      },

      _refreshTemplates: function(change) {
        // FIXME: Workaround to force re-rendering templates bound to array index; needs fix in Polymer
//        console.warn('_refreshTemplates');
//        console.info(change);

        if (change.path === 'params.#0.length') {
          this.async(function() {
            this.$.yTemplate.render();
            this.$.xTemplate.render();
          });
        }
      },

      _getParamsData: function(params) {
        console.warn('_getParamsData');

        if (!params) return null;

        this._prepareGraphInit();

        return params;
      },

      _getParam: function(param) {
        console.warn('_getParam');

        if (!param) return null;

        this._prepareGraphInit();

        return param;
      },

      _getSeriesLength: function() {
        return this.params.length;
      },

      _onYClick: function(e) {
        console.warn('_onYClick');

        if (e && e.target.tagName == "PAPER-ITEM") {
          this._focusDropdown(this.$.xDropdown);
        }
      },

      _onYSelected: function(e) {
        console.warn('_onYSelected');

        var value = e.target.selected;
        this._updatePlot({'y': parseInt(value, 10)});
      },

      _onXSelected: function(e) {
        console.warn('_onXSelected');

        var value = e.target.selected;
        this._updatePlot({'x': parseInt(value, 10)});
      },

      _computeSlider: function() {
        this.plot.cols = parseInt(this.plot.cols, 10);
        switch (this.plot.cols) {
          case 3: return 1;
          case 4: return 2;
          default: return 3;
        }
      },

      _computeCols: function(slider) {
        switch (slider) {
          case 1: return 3;
          case 2: return 4;
          default: return 6;
        }
      },

      _toArray: function(obj) {
        return Object.keys(obj).map(function (key) {
          return {name: key, value: obj[key]};
        });
      },

      _prepareGraphInit: function() {
        console.warn('_prepareGraphInit');

        // Se estiver inicializando...
        if (!this.graph && this.params && this.plot.x && this.plot.y) {
          console.info('preparing...');
//          console.log(this.plot.x);
//          console.log(this.plot.y);

          this._applyFilters(this.params);
          this._updateOptions();
        }
      },

      _setObs: function(opt) {
        var obs = { x: this.obsParams[this.plot.x], y: this.obsParams[this.plot.y] };
        var color = this.plot.obs.color;
        console.log(obs)
        if (obs.x || obs.y) {
          opt.underlayCallback = function(canvas, area, g) {
            canvas.lineWidth = 2;
            canvas.strokeStyle = color;

            var area = g.getArea();
            var obsCoords = {
              x: obs.x != null ? g.toDomXCoord(obs.x) : null,
              y: obs.y != null ? g.toDomYCoord(obs.y) : null
            };

            console.log(obsCoords)

            if (obsCoords.x != null) {
              canvas.beginPath();
              canvas.moveTo(obsCoords.x, area.y);
              canvas.lineTo(obsCoords.x, area.y + area.h);
              canvas.stroke();
            }

            if (obsCoords.y != null) {
              canvas.beginPath();
              canvas.moveTo(area.x, obsCoords.y);
              canvas.lineTo(area.x + area.w, obsCoords.y);
              canvas.stroke();
            }
          };
        }
      }
    });
  })();
  </script>
</dom-module>
