<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-from-left-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-left-animation.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html"/>

<dom-module id="plot-menu">
  <template>
    <style>
      :host {
        transform: translateX(-100%);
        display: block;
        flex-direction: column;
      }

      :host ::content iron-icon.menu-action, iron-icon.back-action {
        cursor: pointer;
        color: var(--secondary-text-color);
        padding: 4px 8px;
      }

      :host ::content iron-icon:hover, iron-icon:hover {
        color: var(--primary-text-color);
      }

      iron-icon.back-action {
        --iron-icon-width: 18px;
        padding: 10px 8px 16px;
      }
    </style>

    <iron-icon icon="simular:arrow-back" class="back-action" on-tap="_fireBackClick"></iron-icon>

    <content></content>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'plot-menu',

      behaviors: [
        Polymer.NeonAnimationRunnerBehavior
      ],

      properties: {
        animationConfig: {
          value: function() {
            return {
              'entry': {
                name: 'slide-from-left-animation',
                node: this,
//                transformOrigin: '25% 50%',
                timing: {easing: 'ease-in-out'}
              },
              'exit': {
                name: 'slide-left-animation',
                node: this,
                timing: {easing: 'ease-in-out'}
              }
            }
          }
        }
      },

      listeners: {
        'neon-animation-finish': '_onNeonAnimationFinish'
      },

      show: function() {
        this.opened = true;
        this.playAnimation('entry');
      },

      hide: function() {
        this.opened = false;
        this.playAnimation('exit');
      },

      _onNeonAnimationFinish: function() {
        if (this.opened) {
          this.style.transform = 'none';
          this.style.display = 'flex'; // menu-item content bug
        } else {
          this.style.transform = 'translateX(-100%)';
          this.style.display = 'block'; // menu-item content bug
        }
      },

      _fireBackClick: function() {
        this.fire('back-click', null, {bubbles: false});
      }
    });
  })();
  </script>
</dom-module>
