<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html"/>
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html"/>
<link rel="import" href="../../bower_components/paper-input/paper-input.html"/>
<link rel="import" href="../../bower_components/paper-material/paper-material.html"/>
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html"/>
<link rel="import" href="../../bower_components/paper-swatch-picker/paper-swatch-picker.html"/>
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html"/>
<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html"/>
<link rel="import" href="../behaviors/graph-behavior.html"/>
<link rel="import" href="../behaviors/plot-behavior.html"/>
<link rel="import" href="../behaviors/plot-menu-behavior.html"/>
<link rel="import" href="../behaviors/filterable-behavior.html"/>
<link rel="import" href="plot-styles.html"/>
<link rel="import" href="plot-menu.html"/>
<link rel="import" href="plot-menu-item.html"/>

<dom-module id="plot-series">
  <template>
    <style include="plot-styles">
      .header > * + * {
        margin-left: 16px;
      }

      .series {
        flex: 1 1 250px;
        max-width: 360px;
        min-width: 150px;
      }

      .log-log {
        align-self: center;
      }

      .cols {
        flex: 0 1 35px;
        display: inline-block;
      }

      dygraph-line {
        margin-left: -8px;
      }

      paper-tooltip {
        z-index: 1001;
        --paper-tooltip: {
          z-index: 1001;
        }
      }
    </style>

    <paper-tooltip for="stretch" position="top" fitToVisibleBounds="true" animation-delay="0" exit-animation="none" offset="4">Redimensionar</paper-tooltip>
    <paper-tooltip for="setLog" position="top" fitToVisibleBounds="true" animation-delay="0" exit-animation="none" offset="4">Aplicar escala log</paper-tooltip>
    <paper-tooltip for="setLimits" position="top" fitToVisibleBounds="true" animation-delay="0" exit-animation="none" offset="4">Fixar limites</paper-tooltip>
    <paper-tooltip for="setObs" position="top" fitToVisibleBounds="true" animation-delay="0" exit-animation="none" offset="4">Formatar histórico</paper-tooltip>

    <paper-material id="box" animated elevation="1" class="box">

    <!-- Drag bar -->
    <div id="dragger" class="drag-bar">
      <iron-icon icon="simular:drag-handle"></iron-icon>
    </div>

    <!-- Menu -->
    <plot-menu id="menu" on-back-click="_closeMenu">
      <plot-menu-item id="stretch" label="Redimensionar" icon="simular:stretch-horizontal">
        <paper-material id="widthCard" elevation="1" class="option-card width-card">
          <paper-slider min="1" max="4" value="[[_computeSlider(plot.cols)]]" on-change="_onSliderChange"></paper-slider>
        </paper-material>
      </plot-menu-item>
      <plot-menu-item id="setLog" icon="simular:log">
        <paper-material id="logCard" elevation="1" class="option-card log-card">
          <paper-toggle-button checked="[[plot.logscale.x]]" on-change="_onXLogChange">X</paper-toggle-button>
          <paper-toggle-button checked="[[plot.logscale.y]]" on-change="_onYLogChange">Y</paper-toggle-button>
        </paper-material>
      </plot-menu-item>
      <plot-menu-item id="setLimits" icon="simular:ray-start-end">
        <paper-material id="limitCard" elevation="1" class="option-card limit-card">
          <div><paper-input id="xRangeMin" label="x₀" value="[[plot.range.x.min]]" on-change="_onXMinRangeChange"></paper-input><paper-input id="xRangeMax" label="x₁" value="[[plot.range.x.max]]" on-change="_onXMaxRangeChange"></paper-input></div>
          <div><paper-input id="yRangeMin" label="y₀" value="[[plot.range.y.min]]" on-change="_onYMinRangeChange"></paper-input><paper-input id="yRangeMax" label="y₁" value="[[plot.range.y.max]]" on-change="_onYMaxRangeChange"></paper-input></div>
        </paper-material>
      </plot-menu-item>
      <plot-menu-item id="setObs" icon="simular:obs">
        <paper-material id="obsCard" elevation="1" class="option-card obs-card">
          <div class="obs-color">
            <paper-input id="obsColor" class="obs-color-input" label="Cor" value="[[plot.obs.color]]" on-change="_onObsChange"></paper-input>
            <paper-swatch-picker id="obsColorPicker" class="obs-color-picker" color="[[plot.obs.color]]" on-color-picker-selected="_onObsColorPickerChange" noink></paper-swatch-picker>
          </div>
          <!--<paper-input id="obsStrokeWidth" label="Espessura do traço" type="number" value="[[plot.obs.strokeWidth]]" on-change="_onObsChange"></paper-input>-->
          <!--<paper-input id="obsPointSize" label="Tamanho do ponto" type="number" value="[[plot.obs.pointSize]]" on-change="_onObsChange"></paper-input>-->
          <div class="labelled-slider obs-stroke-width">
            <div class="floated-label">Espessura do traço</div>
            <paper-slider id="obsStrokeWidth" min="0" max="6" value="[[plot.obs.strokeWidth]]" on-value-change="_onObsChange"></paper-slider>
          </div>
          <div class="labelled-slider">
            <div class="floated-label">Tamanho do ponto</div>
            <paper-slider id="obsPointSize" min="0" max="6" value="[[plot.obs.pointSize]]" on-value-change="_onObsChange"></paper-slider>
          </div>
          <paper-toggle-button id="obsConnectSeparatedPoints" checked="[[plot.obs.connectSeparatedPoints]]" on-change="_onObsChange">Conectar lacunas</paper-toggle-button>
        </paper-material>
      </plot-menu-item>
    </plot-menu>

    <div class="pad-left"></div>

    <div class="container">
      <iron-icon icon="simular:menu" class="plot-action menu-icon" on-tap="_openMenu"></iron-icon>
      <iron-icon icon="simular:close" class="plot-action delete-icon" on-tap="_deletePlot"></iron-icon>

      <div class="header">
        <paper-dropdown-menu id="seriesDropdown" class="series" no-label-float on-paper-dropdown-open="_fixDropdownHeight">
          <paper-listbox class="dropdown-content" selected="[[plot.seriesIndex]]" on-iron-select="_onSeriesChange">
            <template is="dom-repeat" items="[[series]]">
              <paper-item>[[item.name]]</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>
        <paper-checkbox class="log-log" checked="[[_computeLogLog(plot.logscale.*)]]" on-change="_onLogLogChange">log-log</paper-checkbox>
        <!--<paper-input value="{{plot.cols}}" class="cols" no-label-float type="number" max="12" min="1"></paper-input>-->
      </div>

      <div class="content">
        <dygraph-line id="dygraph" class="hide-labels show-highlighted-label"
                      data="[[_getSeriesData(plot.seriesIndex, series, params)]]"
                      options="[[_options]]"
                      graph="{{graph}}"
                      width="100%"
                      height="[[height]]"
                      no-auto-update
                      no-highlight-event="[[!highlighting]]"
                      no-point-click-event
                      no-click-event
                      on-zoom="_ensureXRange"></dygraph-line>
      </div>
    </div>

    <div class="pad-right"></div>
    </paper-material>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'plot-series',

      behaviors: [
        Simular.Plot,
        Simular.PlotMenu,
        Simular.Graph,
        Simular.Filterable,
        Polymer.NeonAnimationRunnerBehavior
      ],

      properties: {
//        selectedSeries: {
//          type: Number,
//          notify: true
//        },
//        logscale: {
//          type: Object,
//          notify: true,
//          value: function(){return {x: false, y: false}}
//        },
//        range: {
//          type: Object,
//          notify: true,
//          value: function(){return {x: {min: null, max: null}, y: {min: null, max: null}}}
//        },
//        position: {
//          type: Object,
//          notify: true
//        },

//        width-ratio="{{item.cols}}"
//        position="{{item.position}}"
//        selected-series="{{item.seriesIndex}}"
//        logscale="{{item.logscale}}"
//        graph="{{item.graph}}"
        position: {
          type: Object,
          notify: true
        },

        _options: Object,

        animationConfig: {
          value: function() {
            return {
              name: 'fade-out-animation',
              node: this,
              timing: {duration: 300}
            }
          }
        }
      },

      listeners: {
        'neon-animation-finish': '_fireDelete'
      },

      observers: [
        //'_obsChanged(obsLabel)'
      ],

      attached: function() {
        this._setStyleDropdown(this.$.seriesDropdown, {cursor: 'pointer'});

        if (this.selectedSeries == null) {
          this.async(function() { this.focus() });
        }
      },

      focus: function() {
        // Workaround to focus on paper-dropdown element
        this._focusDropdown(this.$.seriesDropdown);
      },

      _deletePlot: function() {
        this.playAnimation();
      },

      _fireDelete: function() {
        this.fire('delete', this, {bubbles: false});
      },

      _openMenu: function() {
        this.$.menu.show();
        this.toggleClass('active', true);
      },

      _updateOptions: function() {
        console.warn('_updateOptions');

        var o = this.copyOptions();
        this._setYRange(o);
        this._setXRange(o);
        this._setLogscale(o);
        this._setObs(o);
        o.colors = this.colors;
        o.visibility = this.visibility;
        o.highlightSeriesOpts = this.highlightSeriesOpts;
        o.showLabelsOnHighlight = this.highlighting;

//        console.log(o);

        this._options = o;

        this._keepZoom();

        this.$.dygraph.refresh();
      },

      _onSeriesChange: function(e) {
        var value = e.target.selected;
        this._updatePlot({'seriesIndex': value});
      },

      _onLogLogChange: function(e) {
        // wait ripple effect
        this.async(function() {
          var value = { x: e.target.checked, y: e.target.checked };
          this._updatePlot({'logscale': value});
        }, 300);
      },

      _computeLogLog: function() {
        return this.plot.logscale.x && this.plot.logscale.y;
      },

      _computeSlider: function() {
        this.plot.cols = parseInt(this.plot.cols, 10);
        switch (this.plot.cols) {
          case 6: return 1;
          case 8: return 2;
          case 9: return 3;
          default: return 4;
        }
      },

      _computeCols: function(slider) {
        switch (slider) {
          case 1: return 6;
          case 2: return 8;
          case 3: return 9;
          default: return 12;
        }
      },

      _getSeriesData: function(selectedSeries, series, params) {
        console.warn('_getSeriesData');

        if (selectedSeries == null) return null;

        this._prepareGraphInit(params);

        return series[selectedSeries].data;
      },

      _getSeriesLength: function() {
        var data = this._getSeriesData(this.selectedSeries, this.series, this.params);
//        console.info(data);
        return data ? data[0].length - 1 : 0;
      },

      _toArray: function(obj) {
        return Object.keys(obj).map(function (key) {
          return {name: key, value: obj[key]};
        });
      },

      _prepareGraphInit: function(params) {
        console.warn('_prepareGraphInit');

        // Se estiver inicializando...
        if (!this.graph && params) {
          console.info('preparing...');

          this._applyFilters(params);
          this._updateOptions();
        }
      }
    });
  })();
  </script>
</dom-module>
