<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html"/>
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html"/>

<dom-module id="plot-menu-item">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
      }

      iron-icon.menu-action {
        --iron-icon-width: 18px;
      }

      .content-wrapper {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s linear 0.5s, opacity cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
        top: 0;
        left: 34px;
        padding-left: 2px;
      }

      :host:hover .content-wrapper {
        opacity: 1;
        visibility: visible;
        transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
      }
    </style>

    <iron-icon id="ico" class="menu-action" icon="[[icon]]"></iron-icon>
    <!--<paper-tooltip for="ico" position="top" fitToVisibleBounds="true">[[label]]</paper-tooltip>-->
    <div class="content-wrapper"><content></content></div>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'plot-menu-item',

      properties: {
        icon: String,
        label: String
      }
    });
  })();
  </script>
</dom-module>
