<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html"/>
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html"/>
<link rel="import" href="../../bower_components/paper-fab-transitions/paper-fab-speed-dial.html">
<link rel="import" href="../../styles/shared-styles.html"/>
<link rel="import" href="../behaviors/controller-behavior.html"/>
<link rel="import" href="../behaviors/keyboard-handler-behavior.html"/>
<link rel="import" href="../behaviors/grid-behavior.html"/>
<link rel="import" href="../plots/plot-series.html">
<link rel="import" href="../plots/plot-params.html">
<link rel="import" href="../spinner-modal.html">
<link rel="import" href="details-view.html">

<dom-module id="plots-view">
  <template>
    <style include="shared-styles">
      :host {
        @apply(--layout-horizontal);
        position: relative;

        @apply(--paper-font-body1);
      }

      .main {
        @apply(--layout-flex);
        @apply(--layout-horizontal);
        position: relative;
        background-color: var(--secondary-background-color);
      }

      .main .plots-wrapper {
        @apply(--layout-flex);
        overflow-y: overlay;
        /*overflow-y: scroll;*/
        overflow-x: hidden;
        visibility: hidden;
      }

      .main paper-toolbar {
        --paper-toolbar-background: var(--secondary-background-color);
        --paper-toolbar-color: var(--accent-color);
        --paper-toolbar-height: 32px;
        --paper-toolbar: {
          position: absolute;
          top: 0;
          left: 0;
          right: 16px;
          overflow: hidden;
          z-index: 120;
        };
      }

      .main paper-toolbar iron-icon {
        height: 18px;
        width: 18px;
      }

      .main .plots-wrapper::-webkit-scrollbar-track-piece {
        background-color: var(--secondary-background-color);
      }

      .main .plots-wrapper::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.18);
      }

      .main .plots-wrapper .plots-container, .main .plots-wrapper:hover {
        /*overflow-y: auto;*/
        visibility: visible;
      }

      .main .plots-wrapper .plots-container {
        /*@apply(--layout-horizontal);*/
        /*@apply(--layout-wrap);*/
        position: relative;
        /*margin-top: 32px;*/
        /*padding: 0 16px;*/

        box-sizing: border-box;
        display: block;
        margin: 32px 16px;
        width: calc(100% - 32px);
        height: 0;
      }

      .main .plots-wrapper .plots-container .plot {
        box-sizing: border-box;
        padding: 8px 16px 16px 16px;
      }

      .right-elevation {
        @apply(--shadow-elevation-4dp);
        @apply(--shadow-transition);
        z-index: 205;

        @apply(--layout-horizontal);
        flex: 0 0 128px;
        width: 128px;
      }

      .right {
        overflow-y: auto;
        overflow-x: hidden;
        visibility: hidden;
      }

      .right details-view, .right:hover {
        visibility: visible;
      }

      #dropShadow {
        transition: opacity 0.5s;
        height: 6px;
        box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
        margin-top: 32px;
        z-index: 120;
      }

      #dropShadow.has-shadow {
        opacity: 1;
      }

      .position-frame {
        /*transition-delay: .251s;*/
        transition: visibility .251s;
        height: 470px;
        margin-left: 8px;
        visibility: hidden;
        position: absolute;
        border: 3px dashed var(--divider-color);
      }

      .position-frame.visible {
        visibility: visible;
      }
    </style>

    <iron-a11y-keys target="[[_body]]" keys="ctrl+space" on-keys-pressed="toggleLock"></iron-a11y-keys>
    <iron-a11y-keys target="[[_body]]" keys="ctrl+h" on-keys-pressed="toggleHighlight"></iron-a11y-keys>

    <iron-signals on-iron-signal-analysis-loading="_showSpinner"
                  on-iron-signal-analysis-loaded="_hideSpinner"
                  on-iron-signal-script-loading="_showSpinner"
                  on-iron-signal-script-loaded="_hideSpinner"></iron-signals>

    <div class="main">
      <spinner-modal id="plotsSpinner" size="64"></spinner-modal>

      <paper-toolbar>
        <!-- Fill center space -->
        <span class="flex"></span>
        <!-- Toolbar icons -->
        <iron-icon icon="simular:lock" class="small" hidden$="[[!locked]]" title="Lock On (Ctrl+Space)"></iron-icon>
        <!--<iron-icon icon="simular:lock-open" class="small" hidden$="[[locked]]" title=" Lock Off (Ctrl+Space)"></iron-icon>-->
        <iron-icon icon="simular:highlight" class="small" hidden$="[[!highlighting]]" title="Highlight On (Ctrl+H)"></iron-icon>
        <!--<iron-icon icon="simular:highlight-off" class="small" hidden$="[[highlighting]]" title="Highlight Off (Ctrl+H)"></iron-icon>-->
      </paper-toolbar>

      <div id="plotsScroller" class="plots-wrapper">
        <div id="plotsContainer" class="plots-container">
          <div id="plotPositionFrame" class="position-frame"></div>
          <template is="dom-repeat" items="[[plots]]">
            <template is="dom-if" if="[[_isSeries(item)]]">
              <plot-series class="plot visible"
                           hidden="[[_hasNotData(item)]]"
                           params="[[params]]"
                           obs-params="[[obsParams]]"
                           series="[[series]]"
                           filters="[[filters]]"
                           cutoff="[[cutoff]]"
                           plot="{{item}}"
                           graph="{{item.graph}}"
                           position="{{item.position}}"
                           highlighting="[[highlighting]]"
                           on-highlight="_highlight"
                           on-unhighlight="_unhighlight"
                           on-graph-change="_syncGraph"
                           on-delete="_deletePlot">
              </plot-series>
            </template>
            <template is="dom-if" if="[[_isParams(item)]]">
              <plot-params class="plot visible"
                           hidden="[[_hasNotData(item)]]"
                           params="[[params]]"
                           data="[[params]]"
                           obs-params="[[obsParams]]"
                           filters="[[filters]]"
                           cutoff="[[cutoff]]"
                           plot="{{item}}"
                           graph="{{item.graph}}"
                           position="{{item.position}}"
                           highlighting="[[highlighting]]"
                           no-point-click-event
                           no-click-event
                           on-highlight="_highlight"
                           on-unhighlight="_unhighlight"
                           on-graph-change="_syncGraph"
                           on-delete="_deletePlot">
              </plot-params>
            </template>
          </template>
        </div>
      </div>
      <div id="dropShadow"></div>
    </div>

    <div class="right-elevation">
      <div class="right">
        <details-view params="[[params]]" sim="[[selectedSim]]"></details-view>
      </div>
    </div>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'plots-view',

      behaviors: [
        Simular.Controller,
        Simular.KeyboardHandler,
        Simular.Grid
      ],

      properties: {
        plots: Array,
        plotElements: {
          type: Array,
          value: function() {
            return [];
          }
        },
        filters: Array,
        cutoff: Boolean,
        highlighting: {
          type: Boolean,
          value: true
        },
        locked: {
          type: Boolean,
          value: false
        },
        selectedSim: {
          type: String,
          readOnly: true,
          value: null
        },
        atTop: {
          type: Boolean,
          value: true,
          notify: true,
          readOnly: true,
          reflectToAttribute: true
        },

        itemHeight: {
          type: Number,
          value: 484,
          readOnly: true
        }
      },

      observers: [
        'refresh(cutoff)',
        '_refresh(filters.*)',
        '_configPlot(plots.*)'
//        '_updateHeight(slots)'
      ],

      get colWidth() {
        return this.$.plotsContainer.offsetWidth / 12;
      },

      get rowHeight() {
        return this.itemHeight;
      },

      getContainerClientRect: function() {
        return this.$.plotsContainer.getBoundingClientRect();
      },

      /* SCOLLER SHADOW BEGIN */
      ready: function() {
        this.scrollHandler = this._scrollHandler.bind(this);
      },

      attached: function() {
        this._addScrollerListener();
      },

      detached: function() {
        this._removeScrollerListener();
      },

      _addScrollerListener: function() {
        this.$.plotsScroller.addEventListener('scroll', this.scrollHandler, false);
      },

      _removeScrollerListener: function() {
        this.$.plotsScroller.removeEventListener('scroll', this.scrollHandler);
      },

      _scrollHandler: function() {
        this.toggleClass('has-shadow', this.$.plotsScroller.scrollTop !== 0, this.$.dropShadow);
      },
      /* SCOLLER SHADOW END*/

      toggleHighlight: function(e) {
        console.warn('toggleHighlight');

        this._preventDefault(e);

        this.highlighting = !this.highlighting;
      },

      toggleLock: function (e) {
        console.warn('toggleLock');

        if (e && e.stopPropagation) {
          e.stopPropagation();
          e.preventDefault();
        }

        this.locked = !this.locked;
        // refresh indicator icon faster
        this.async(function() {
          for (var i = 0; i < this.plots.length; i++) {
            this._toggleLockGraph(this.plots[i], this.locked);
          }
        }, 1);
      },

      refresh: function() {
        var withSpinner = this.plots && this.plots.length > 1;

        if (withSpinner) this._showSpinner();

        this.async(function () {
          var plots = this.$.plotsContainer.querySelectorAll('.plot');
          for (var i = 0; i < plots.length; i++) {
            plots[i].refresh();
          }
          if (withSpinner) this._hideSpinner();
        }, withSpinner ? 300 : 50);
      },

      _refresh: function(filtersChange) {
        console.warn('_refresh');
//        console.info(filtersChange);
//        debugger;

        if (filtersChange.path === 'filters.splices') {
          var hasNewConditions = false;
          var start = filtersChange.value.indexSplices[0].index;
          var length = filtersChange.value.indexSplices[0].addedCount;
          var final = start + length;
          for (var i = start; i < final; i++) {
            if (filtersChange.base[i].conditions != '') {
              hasNewConditions = true;
              break;
            }
          }

          var hasRemoved = filtersChange.value.indexSplices[0].removed.length > 0;

          if (hasNewConditions || hasRemoved) {
            console.info('refreshing...');

            this.refresh();
          }
        }
      },

      _syncGraph: function(e) {
//        console.warn('_syncGraph');

        this.async(function() { this._highlightGraph(e.detail, this.locked) }, 250);
      },

      _deletePlot: function(e, plotEl) {
//        console.warn('_deletePlot');

        var plot = this._getPlotByElement(plotEl);
        this.analysis.execute(new smlr.RemovePlotCommand({'plot': plot}));
      },

      _isSeries: function(item) {
        return item.type === 'series';
      },

      _isParams: function(item) {
        return item.type === 'params';
      },

      _highlight: function(e, d) {
        if (!this.locked) {
          this._setSelectedSim(d.series);
          for (var i = 0; i < this.plots.length; i++) {
            if (this.plots[i].graph !== d.graph) {
              this._highlightGraph(this.plots[i].graph);
            }
          }
          return;
        }

        if (e.target.parentElement.tagName.toUpperCase() === 'PLOT-PARAMS') {
          // readjust highlight after zooming and zooming out when locked in plot params
          console.warn('_highlight on locked plot-params');
          d.graph.setSelection(d.graph.getRow(this.selectedSim), this.selectedSim, this.locked);
        }
      },

      _unhighlight: function(e, d) {
        if (!this.locked) {
          this._setSelectedSim(null);
          for (var i = 0; i < this.plots.length; i++) {
            var graph = this.plots[i].graph;
            if (graph != null && graph !== d.graph) {
              graph.clearSelection();
            }
          }
        }
      },

      _toggleLockGraph: function(plot, locked) {
//        console.warn('_toggleLockGraph');
        var graph = plot.graph;

        // avoid loosing selected point on zoom
        if (plot.type === 'params') {
          var seriesOpt = {};
          seriesOpt[this.selectedSim] = {pointSize: locked ? 5 : 2};
          graph.updateOptions({series: seriesOpt});
        }

        if (graph != null) {
          if (locked) {
            graph.setSelection(graph.getSelection(), graph.getHighlightSeries(), true);
          } else {
            graph.clearSelection();
          }
        }
      },

      _highlightGraph: function(graph, locked) {
//        console.warn('_highlightGraph');

        if (graph != null && this.selectedSim != null) {
          graph.setSelection(graph.getRow(this.selectedSim), this.selectedSim, locked);
        }
      },

      _showSpinner: function() {
        this.$.plotsSpinner.show();
      },

      _hideSpinner: function() {
        this.$.plotsSpinner.hide();
      },

      _hasNotData: function(item) {
        if (item.type === 'series') {
          return item.seriesIndex == null;
        }
        if (item.type === 'params') {
          return item.x == null || item.y == null;
        }
        return false;
      },

      _configPlot: function(changeRecord) {
        // load analysis
        if (changeRecord.base === changeRecord.value) {
          for (var i = 0; i < changeRecord.base.length; i++) {
            var p = changeRecord.base[i];
            Object.defineProperties(p, {
              'type': { value: p.type, enumerable: true, writable: false },
              'graph': { enumerable: false, writable: true },
              'position': { enumerable: false, writable: true },
              '_uid': { enumerable: false, writable: true }
            });
            p.cols = parseInt(p.cols, 10);
            this._setUpPlot(p, i, false);
          }
          return;
        }

        // plot removed
        if (changeRecord.value && changeRecord.value.indexSplices && changeRecord.value.indexSplices[0].removed.length) {
          var plot = changeRecord.value.indexSplices[0].removed[0];
          var index = this.plotElements.findIndex(function(el) { return el._uid === plot._uid });
          this.plotElements.splice(index, 1);
          this.delete(plot);
          this.async(function() { this._refreshLayout() });
          return;
        }


        // Update plotElements cache
//        var newPlotElements = [];
//        var plotNodes = this.$.plotsContainer.querySelectorAll(".plot");
//        for (var i = 0; i < plotNodes.length; i++) {
//          newPlotElements.push(plotNodes.item(i));
//        }
//        this.plotElements = newPlotElements;

        // TODO: check '_uid' and 'position' when plot is added from other sources (console, load)
        // Are these properties required to be enumerable? (Ideally, not)
        if (changeRecord.value && changeRecord.value.indexSplices && changeRecord.value.indexSplices[0].addedCount) {
          // config new plot
          var plot = changeRecord.base[changeRecord.base.length-1];
          var index = changeRecord.base.length-1;
          this._setUpPlot(plot, index);
          this.async(function() {
            this.$.plotsScroller.scrollTop = this.$.plotsScroller.scrollHeight;
            this.plotElements[index].classList.add('visible', 'animated');
            this.plotElements[index].removeAttribute('hidden');
          }, 5);

        } else {
          // config removed plot
          //var plot = changeRecord.value.indexSplices[0].removed[0];
        }
      },

      _setUpPlot: function (plot, index, visible) {
        this.add(plot);
        this.async(function () {
          // FIXME: Consistently sync this cache, even with loading analysis
          // Update plotElements cache
          this.plotElements.push(this.$.plotsContainer.querySelectorAll(".plot")[index]);

          // access sibling or parent elements here
          var el = this.plotElements[index];
          el._uid = this._uid();
          plot._uid = el._uid;
          this._setPlotPosition(el);

          // Workaround to reposition element when re-sized
          this._setRepositionFunction(el, index);

          this._configDraggie(el);

          if (visible) {
            this.async(function() {
              this.plotElements[index].classList.add('visible', 'animated');
            }, 10);
          }
        }, 5);
      },

      _updatePositionFrame: function(plotEl) {
        this.$.plotPositionFrame.position = plotEl.position;
        this._setPlotPosition(this.$.plotPositionFrame, true);
        if (!this.$.plotPositionFrame.classList.contains('visible')) {
          this.$.plotPositionFrame.style.width = (plotEl.offsetWidth - 22) + 'px';
          this.$.plotPositionFrame.classList.add('visible');
        }
      },

      _setRepositionFunction: function (el, index) {
        el.reposition = function (newCols, oldCols) {
          var p = this.plots[index];
          p.cols = +p.cols;
          var truncatedItems = this._truncateFromItem(p);
          truncatedItems.forEach(function (e) {
            this.add(e);
          }, this);
          this._refreshLayout();
        }.bind(this);
      },

      _configDraggie: function(el) {
        var container = this.$.plotsContainer;

        var draggie = new Draggabilly(el, {
          containment: container,
          positionByTransform: true,
          handle: '.drag-bar'
        });

        var self = this;

        draggie.on('dragStart', function(event, pointer) {
          // Elevate card to indicate dragging activity
          this.element.$.box.elevation = 4;
          this.element.style['z-index'] = 101;

          // Obtain important context state
          this.swapsCache = {};
          this.outerBounds = self.getContainerClientRect();
          this.highlightingCache = self.highlighting;

          // Avoid highlighting while dragging
          self.highlighting = false;

          self._updatePositionFrame(this.element);
        });

        draggie.on('dragMove', function(event, pointer) {
          var target = null;

          var top = pointer.clientY - this.outerBounds.top;
          var left = pointer.clientX - this.outerBounds.left;
          var row = Math.ceil(top / self.rowHeight);
          var col = Math.ceil(left / self.colWidth);

          if (row > 0 && row <= self.rows && col > 0 && col <= self.cols) {
            target = self.getItemByPosition(row-1, col-1);
          }

          if (target != null) {
            var selected = self._getPlotByElement(this.element);
            if (target !== selected && !this.swapsCache[target._uid]) {
//              console.log(row, col, top, left);
//              console.log(this.swapsCache);
//              console.log(target._uid);

              // Rearrange cards
              self._insertPlotAt(selected, target);

              // Reposition card frame guide
              self._updatePositionFrame(this.element);

              // Block card from repositioning for a while
              var uid = target._uid;
              this.swapsCache[uid] = true;
              setTimeout(function() {
                this.swapsCache[uid] = false;
              }.bind(this), 500);

              this.element.style['z-index'] = 101;
            }
          }
        });

        draggie.on('dragEnd', function(event, pointer) {
          // hide plot frame positioning guide
          self.$.plotPositionFrame.classList.remove('visible');
          // restore default card elevation
          this.element.$.box.elevation = 1;
          // reposition card
          self._setPlotPosition(this.element, true);
          // restore previous highlighting setting
          self.highlighting = this.highlightingCache;
        });
      },

      _getPlotByElement: function(el) {
        return this.plots[this.plotElements.indexOf(el)];
      },

      _getElementByPlot: function(plot) {
        return this.plotElements[this.plots.indexOf(plot)];
      },

      _insertPlotAt: function(plotA, plotB) {
        this.reposition(plotA, plotB);
        this._refreshLayout();
        this._updateZIndex(plotA);
        this._updateZIndex(plotB);
      },

      _refreshLayout: function(force) {
        var plots = this.plotElements;
        for (var i = 0; i < plots.length; i++) {
          this._setPlotPosition(plots[i], force);
        }
      },

      _setPlotPosition: function(el, force) {
        if (el.position && (el.position.isDirty || force)) {
          el.style['position'] = 'absolute';
          el.style['z-index'] = 100 - this.items.indexOf(this._getPlotByElement(el));

          el.style.transform = 'translate(' + el.position.col * this.colWidth + 'px,' + el.position.row * this.itemHeight + 'px)';
          el.position.isDirty = false;
        }
      },

      _updateZIndex: function(plot) {
        var el = this._getElementByPlot(plot);
        el.style['z-index'] = 100 - this.items.indexOf(plot);
      },

      _updateHeight: function(record) {
        this.$.plotsContainer.style.height = this.itemHeight * this.rows + 'px';
      },

      _uid: function() {
        return Math.random().toString(36).substr(2, 9);
      }
    });
  })();
  </script>
</dom-module>
