<link rel="import" href="../../styles/shared-styles.html">

<!-- styles for all plot elements -->
<dom-module id="plot-styles">
  <template>
    <style include="shared-styles">
      :host {
        @apply(--layout-horizontal);
        @apply(--layout-justified);
        padding: 0 16px 32px;

        position: absolute;
        left: 0;
        top: 0;

        opacity: 1;
        display: none;
      }

      :host(.animated) {
        transition-duration: .218s;
        transition-timing-function: ease-in;
        transition-property: transform;
      }

      :host(.visible) {
        display: block;
      }

      :host(.is-dragging) {
        transition-property: none;
        cursor: move;
        z-index: 101;
        opacity: 0.85;
      }

      iron-icon {
        --iron-icon-width: 18px;
      }

      paper-item {
        --paper-item-min-height: 46px;
        --paper-item: {
          @apply(--simular-font-input);
          text-overflow: ellipsis;
        };
      }

      paper-input {
        --paper-input-container-input: {
          @apply(--simular-font-input);
          text-overflow: ellipsis;
        };
      }

      paper-checkbox {
          @apply(--simular-font-input);
      }

      paper-dropdown-menu {
        --paper-input-container-input: {
          @apply(--simular-font-input);
          text-overflow: ellipsis;
        };
      }

      .box {
        @apply(--layout-flex);
        @apply(--layout-horizontal);
        @apply(--layout-justified);
        position: relative;
        background-color: var(--primary-background-color);
        height: 460px;
        width: 100%;
        overflow: hidden;
      }

      plot-menu {
        position: absolute;
        top: 12px;
        bottom: 0;
        left: 0;

        box-sizing: border-box;
        width: 35px;
        border-right: 1px solid var(--divider-color);
        z-index: 110;
        background-color: var(--primary-background-color);
      }

      .drag-bar {
        position: absolute;
        height: 12px;
        /*background-color: var(--quaternary-background-color);*/
        /*color: var(--primary-background-color);*/
        border-bottom: 1px solid var(--divider-color);
        color: var(--secondary-text-color);
        width: calc(100% - 2px);
        margin: 0 1px;
        opacity: 0;
        transition: opacity linear 0.3s;
        cursor: move;
      }

      .drag-bar iron-icon {
        height: 18px;
        margin: -8px auto 0;
        width: 100%;
      }

      :host:hover .drag-bar {
        /*visibility: visible;*/
        opacity: 1;
      }

      .pad-left {
        flex: 0 1 8px;
      }

      .pad-right {
        flex: 0 1 16px;
      }

      .pad-left, .pad-right {
        transition: flex ease-in-out 0.3s;
      }

      :host(.active) .pad-left {
        flex: 0 0 35px;
      }

      .container {
        @apply(--layout-vertical);
        flex: 1;
        /*flex: 0 0 calc(100% - 32px);*/
        transition: flex ease-in-out 0.3s;
        box-sizing: border-box;
        /*width: calc(100% - 32px);*/
        /*min-width: calc(100% - 32px);*/
        max-width: calc(100% - 43px);
        padding: 12px 0 24px 8px;
      }

      .header {
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
        flex: 0 0 40px;
        text-align: center;
        line-height: 24px;
        padding: 0 16px 16px;
        transition: padding-left ease-in-out 0.3s;
      }

      :host(.active) .header {
        padding-left: 8px;
      }

      .content {
        flex: 1;
      }

      .plot-action {
        position: absolute;
        top: 20px;
        opacity: 0;
        transition: left ease-in-out 0.3s, opacity linear 0.2s;
        cursor: pointer;
        color: var(--secondary-text-color);
      }

      .plot-action:hover {
        color: var(--primary-text-color);
      }

      :host:hover .plot-action {
        opacity: 1;
      }

      .menu-icon {
        left: 11px;
      }

      :host(.active) .menu-icon {
        left: 19px;
      }

      .delete-icon {
        right: 11px;
      }


      /** MENU **/

      .option-card {
        padding: 2px;
        background-color: var(--primary-background-color);
      }

      .log-card paper-toggle-button {
        margin: 8px;
      }

      .limit-card {
        width: 154px;
        padding-bottom: 8px;
      }

      .limit-card > div {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
      }

      .limit-card > div > paper-input {
        flex: 0 60px;
        margin-bottom: 8px;
        --paper-input-container: {
          padding: 0;
        };
        --paper-input-container-input: {
          font-size: 14px;
        };
      }

      .obs-card {
        width: 168px;
        padding: 0 16px 8px 16px;
      }

      .obs-card paper-toggle-button {
        height: 32px;
      }

      .obs-color {
        display: flex;
      }

      .obs-color paper-input {
        flex: 1 1 128px;
      }

      .obs-color paper-swatch-picker {
        flex: 1 1 36px;
        top: 12px;
        margin-left: 8px;
      }

      paper-swatch-picker.obs-color-picker {
        --paper-swatch-picker-color-size: 16px;

        height: 48px;
        width: 28px;
        right: 12px;
      }

      paper-slider {
        --paper-slider-active-color: var(--dark-primary-color);
        --paper-slider-secondary-color: var(--light-primary-color);
        --paper-slider-knob-color: var(--dark-primary-color);
        --paper-slider-pin-color: var(--dark-primary-color);

        /*--paper-slider-knob-start-color: transparent;*/
        /*--paper-slider-knob-start-border-color: var(--paper-grey-400);*/
        /*--paper-slider-pin-start-color: var(--paper-grey-400);*/

        /*--paper-slider-knob-start-color: var(--dark-primary-color);*/
        /*--paper-slider-knob-start-border-color: transparent;*/
        /*--paper-slider-pin-start-color: var(--dark-primary-color);*/
      }

      .widthCard paper-slider {
        --paper-slider-knob-start-color: var(--dark-primary-color);
        --paper-slider-knob-start-border-color: transparent;
        --paper-slider-pin-start-color: var(--dark-primary-color);
      }

      .labelled-slider paper-slider {
        width: 110%;
        margin-left: -10px;
      }

      .obs-stroke-width {
        margin-top: 4px;
      }

      .floated-label {
        font-family: 'Roboto', 'Noto', sans-serif;
        -webkit-font-smoothing: antialiased;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.011em;
        line-height: 20px;
        color: rgba(0,0,0,.54);
      }
    </style>
  </template>
</dom-module>
