<!-- Polymer -->
<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Iron elements -->
<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">

<!-- Neon elements -->
<link rel="import" href="../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">

<!-- Paper elements -->
<link rel="import" href="../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-styles/shadow.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">

<!-- Uncomment next block to enable Service Worker Support (2/2) -->
<!--&lt;!&ndash;-->
<link rel="import" href="../bower_components/platinum-sw/platinum-sw-cache.html">
<link rel="import" href="../bower_components/platinum-sw/platinum-sw-register.html">
<!--&ndash;&gt;-->

<link rel="import" href="../bower_components/dygraph-elements/dygraph-elements.html">

<!-- Add your elements here -->
<link rel="import" href="../styles/app-theme.html">
<link rel="import" href="../styles/shared-styles.html">

<link rel="import" href="icons.html">
<link rel="import" href="spinner-modal.html">
<link rel="import" href="footer-view.html">
<link rel="import" href="top-bar.html">

<link rel="import" href="analysis/analysis-fab.html">
<link rel="import" href="analysis/analysis-view.html">

<link rel="import" href="entry/entry-view.html">

<link rel="import" href="filters/filter-item-condition.html">
<link rel="import" href="filters/filter-item.html">
<link rel="import" href="filters/filter-list.html">

<link rel="import" href="model/analysis-model.html">

<link rel="import" href="params/apply-function-dialog.html">

<link rel="import" href="plots/plot-styles.html">
<link rel="import" href="plots/plot-params.html">
<link rel="import" href="plots/plot-series.html">
<link rel="import" href="plots/plots-view.html">

<link rel="import" href="plugins/terminal-plugin.html">
