<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="behaviors/keyboard-handler-behavior.html">
<link rel="import" href="plugins/terminal-plugin.html">

<dom-module id="footer-view">
  <template>
    <style include="shared-styles">
      :host {
        /*@apply(--shadow-elevation-16dp);*/
        /*@apply(--shadow-transition);*/
        box-shadow: 0 5px 24px 8px rgba(0, 0, 0, 0.14);

        display: block;
        position: relative;
        width: 100%;
        background-color: var(--tertiary-background-color);
        color: var(--secondary-text-color);
        z-index: 210;
      }

      paper-tabs {
        height: 32px;
        --paper-tabs-selection-bar-color: var(--accent-color);
      }

      paper-tab {
        --paper-tab-ink: var(--accent-color);
      }

      paper-tab.iron-selected{
        color: var(--accent-color);
      }
    </style>

    <!--<iron-a11y-keys target="[[_body]]" keys="esc" on-keys-pressed="hide"></iron-a11y-keys>-->
    <iron-a11y-keys target="[[_body]]" keys="esc" on-keys-pressed="_toggleTerminal"></iron-a11y-keys>

    <iron-pages selected="{{selected}}" on-iron-select="_focusItem">
      <terminal-plugin id="terminal" on-terminal-hide="hide"></terminal-plugin>
    </iron-pages>

    <paper-tabs selected="{{selected}}" align-bottom noink no-slide on-iron-activate="_checkOptionAlreadySelected">
      <template is="dom-repeat" items="[[options]]">
        <paper-tab title="[[item.alias]]">[[item.name]]</paper-tab>
      </template>
    </paper-tabs>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'footer-view',

      behaviors: [
        Simular.KeyboardHandler
      ],

      properties: {
        options: {
          type: Array,
          readOnly: true,
          value: [
            {name: 'Terminal', alias: 'Esc'}
          ]
        },
        selected: {
          type: Number,
          notify: true
        }
      },

      hide: function(e) {
        this._preventDefault(e);
        this.selected = null;
      },

      toggleFeature: function(option) {
        if (this.selected === option) {
          this.hide();
          return;
        }

        this.selected = option || 0;
      },

      _focusItem: function(e) {
        if (e.detail.item.focus) e.detail.item.focus();
      },

      _toggleTerminal: function(e) {
        this._preventDefault(e);
        this.toggleFeature(0);
      },

      _checkOptionAlreadySelected: function(e) {
        if (e.detail.selected === this.selected) {
          this.async(function() {
            e.detail.item.blur();
            this.hide();
          });
        }
      }
    });
  })();
  </script>
</dom-module>
