<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">

<dom-module id="spinner-modal">
  <template>
    <style>
      :host {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--secondary-background-color);
        z-index: 190;
        opacity: 0.86;
      }

      .spinner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        z-index: 200;
        opacity: 0.96;
      }

      paper-spinner-lite.spinner {
        --paper-spinner-color: var(--accent-color);
        --paper-spinner-stroke-width: 6px;
      }
    </style>
    <paper-spinner-lite id="spinner" class="spinner"></paper-spinner-lite>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'my-fade-in-animation',
      behaviors: [
        Polymer.NeonAnimationBehavior
      ],
      configure: function(config) {
        var node = config.node;
        this._effect = new KeyframeEffect(node, [
          {'opacity': '0'},
          {'opacity': '0.86'}
        ], this.timingFromConfig(config));
        return this._effect;
      }
    });

    Polymer({
      is: 'my-fade-out-animation',
      behaviors: [
        Polymer.NeonAnimationBehavior
      ],
      configure: function(config) {
        var node = config.node;
        this._effect = new KeyframeEffect(node, [
          {'opacity': '0.86'},
          {'opacity': '0'}
        ], this.timingFromConfig(config));
        return this._effect;
      }
    });

    Polymer({
      is: 'spinner-modal',

      behaviors: [
        Polymer.NeonAnimatableBehavior,
        Polymer.NeonAnimationRunnerBehavior
      ],

      properties: {
        opened: Boolean,
        size: {
          type: Number,
          observer: '_sizeChanged'
        },
        animationConfig: {
          type: Object,
          value: function () {
            return {
              'entry': {
                name: 'my-fade-in-animation',
                node: this
              },
              'exit': {
                name: 'my-fade-out-animation',
                node: this
              }
            }
          }
        }
      },

      listeners: {
        'neon-animation-finish': '_onFinish'
      },

      show: function() {
        this.opened = true;
        this.style.display = 'block';
        this.playAnimation('entry');
        this.$.spinner.active = true;
      },

      hide: function() {
        this.opened = false;
        this.playAnimation('exit');
        this.$.spinner.active = false;
      },

      _onFinish: function() {
        if (!this.opened) {
          this.style.display = 'none';
        }
      },

      _sizeChanged: function(s) {
        this.$.spinner.style.width = s + 'px';
        this.$.spinner.style.height = s + 'px';
      }
    });
  })();
  </script>
</dom-module>
