<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="behaviors/keyboard-handler-behavior.html">

<dom-module id="top-bar">
  <template>
    <style include="shared-styles">
      :host {
        @apply(--layout-horizontal);
        background-color: var(--dark-primary-color);
        color: var(--primary-background-color);
        z-index: 1001;
        height: 24px;
        width: 100%;

        -webkit-app-region: drag;
      }

      .actions {
        -webkit-app-region: no-drag;
        padding: 2px 4px;
      }

      .actions iron-icon {
        width: 18px;
        height: 18px;
      }
    </style>

    <span class="title">[[title]]</span>
    <span class="flex"></span>
    <span class="actions">
      <iron-icon icon="simular:window-minimize" on-tap="minimize"></iron-icon>
      <iron-icon icon="simular:window-maximize" on-tap="maximize" hidden$="[[maximized]]"></iron-icon>
      <iron-icon icon="simular:window-restore" on-tap="restore" hidden$="[[!maximized]]"></iron-icon>
      <iron-icon icon="simular:window-close" on-tap="close"></iron-icon>
    </span>
  </template>
  <script>
  (function() {
    'use strict';

    //TODO: shortcuts to maximize, restore and minimize;

    Polymer({
      is: 'top-bar',

      behaviors: [
        Simular.KeyboardHandler
      ],

      properties: {
        title: {
          type: String
        },
        maximized: {
          type: Boolean,
          value: false
        },
        minimized: {
          type: Boolean,
          value: false
        }
      },

      attached: function() {
        var self = this;
        try {
          var remote = require('remote');
          this.BrowserWindow = remote.require('browser-window');

          var wnd = this.BrowserWindow.getFocusedWindow();
          wnd.on('maximize', function() {
            self.maximized = true;
          });
          wnd.on('unmaximize', function() {
            self.maximized = false;
          });
          wnd.on('minimize', function() {
            self.minimized = true;
          });
          wnd.on('restore', function() {
            self.minimized = false;
          });

          self.maximized = wnd.isMaximized();
          self.minimized = wnd.isMinimized();

        } catch(e) {
          console.warn('Not running in electron. Status bar does not work.');
        }
      },

      minimize: function() {
        if (this.BrowserWindow) this.BrowserWindow.getFocusedWindow().minimize();
      },

      maximize: function() {
        if (this.BrowserWindow) this.BrowserWindow.getFocusedWindow().maximize();
      },

      restore: function() {
        if (this.BrowserWindow) this.BrowserWindow.getFocusedWindow().unmaximize();
      },

      close: function() {
        if (this.BrowserWindow) this.BrowserWindow.getFocusedWindow().close();
      }
    });
  })();
  </script>
</dom-module>
