/*
Copyright (c) 2015 The Polymer Project Authors. flex rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

/******************/
/*    DYGRAPHS    */
/******************/
.dygraph-legend {
  z-index: 11;
  padding: 2px 4px;
  margin-top: -20px;
  font-weight: 500;
  width: 256px;
  white-space: nowrap;
  overflow: visible;
  /*text-overflow: clip;*/
}

.hide-labels .dygraph-legend > span {
  display: none;
}

.show-highlighted-label .dygraph-legend > span.highlight {
  display: inline;
}

/******************/
/*   COL SYSTEM   */
/******************/
.col-12 {
  /*flex: 1 1 96%;*/
  width: 100%;
  flex: 0 0 100%;
  /*transition: width 0.75s, width 0.75s;*/
}

/*
.col-12.active {
  flex: 1 1 100%;
  width: 100%;
}
*/

.col-11 {
  /*flex: 1 1 88%;*/
  width: 91.666666667%;
  flex: 0 1 91.666666667%;
}

.col-10 {
  /*flex: 1 1 80%;*/
  width: 83.333333333%;
  flex: 0 1 83.333333333%;
}

.col-9 {
  /*flex: 1 1 72%;*/
  width: 75%;
  flex: 0 1 75%;
  /*transition: width 0.75s, width 0.75s;*/
}

/*
.col-9.active {
  flex: 1 1 calc(75% + 32px);
  width: calc(75% + 32px);
}
*/

.col-8 {
  /*flex: 1 1 64%;*/
  width: 66.666666667%;
  flex: 0 1 66.666666667%;
  /*transition: width 0.75s, width 0.75s;*/
}

/*
.col-8.active {
  flex: 1 1 calc(66.666666667% + 32px);
  width: calc(66.666666667% + 32px);
}
*/

.col-7 {
  /*flex: 1 1 56%;*/
  width: 58.333333333%;
  flex: 0 1 58.333333333%;
}

.col-6 {
  /*flex: 1 1 48%;*/
  width: 50%;
  flex: 0 1 50%;
  /*transition: width 0.75s, width 0.75s;*/
}

/*
.col-6.active {
  flex: 1 1 calc(50% + 32px);
  width: calc(50% + 32px);
}
*/

.col-5 {
  /*flex: 1 1 39%;*/
  width: 41.666666665%;
  flex: 0 1 41.666666665%;
}

.col-4 {
  /*flex: 1 1 32%;*/
  width: 33.333333333%;
  flex: 0 1 33.333333333%;
  /*transition: width 0.75s, width 0.75s;*/
}

/*
.col-4.active {
  flex: 1 1 calc(33.333333333% + 32px);
  width: calc(33.333333333% + 32px);
}
*/

.col-3 {
  /*flex: 1 1 23.5%;*/
  width: 25%;
  flex: 0 1 25%;
  /*transition: width 0.75s, width 0.75s;*/
}

/*
.col-3.active {
  flex: 1 1 calc(25% + 32px);
  width: calc(25% + 32px);
}
*/

.col-2 {
  /*flex: 1 1 10%;*/
  width: 16.666666667%;
  flex: 0 1 16.666666667%;
}

.col-1 {
  /*flex: 1 1 8.333333333%;*/
  width: 8.333333333%;
  flex: 0 1 8.333333333%;
}

/*** FONTS ***/
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans-Latin-400.woff2) format('woff2'), url(../fonts/OpenSans-Latin-400.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  src: local('Michroma'), url(../fonts/Michroma-400.woff2) format('woff2'), url(../fonts/Michroma-400.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto-Latin-Ext-400.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto-Latin-400.woff2) format('woff2'), url(../fonts/Roboto-Latin-400.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/Roboto-Latin-500.woff2) format('woff2'), url(../fonts/Roboto-Latin-500.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto-Latin-700.woff2) format('woff2'), url(../fonts/Roboto-Latin-700.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url(../fonts/RobotoMono-Latin-500.woff2) format('woff2'), url(../fonts/RobotoMono-Latin-500.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(../fonts/RobotoMono-Latin-700.woff2) format('woff2'), url(../fonts/RobotoMono-Latin-700.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
