<!-- shared styles for all elements and index.html -->
<dom-module id="shared-styles">
  <template>
    <style>
      paper-dialog {
        z-index: 901;
        --iron-overlay-backdrop-opened: {
          z-index: 900;
        }
      }

      paper-drawer-panel {
        --paper-drawer-panel-left-drawer-container: {
          z-index: 30;
        };
      }

      paper-tooltip {
        z-index: 901;
      }

      paper-toast {
        z-index: 901;
      }

      paper-toast a {
        margin-left: 48px;
        color: var(--accent-color);
        cursor: pointer;
      }

      paper-toast. a:hover {
        text-decoration: underline;
      }

      /*** SCROLL BAR BEGIN ***/
      ::-webkit-scrollbar {
        background: transparent;
        overflow: visible;
        width: 7px;
      }

      ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.24);
        /*border: 2px solid transparent;*/
        /*border-radius: 20px;*/
        /*-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10), inset 0 -1px 0 rgba(0,0,0,0.07);*/
      }

      ::-webkit-scrollbar-thumb:hover {
        background: var(--disabled-text-color);
      }

      ::-webkit-scrollbar-track-piece {
        background-color: var(--tertiary-background-color);
      }

      ::-webkit-scrollbar-corner {
        background: transparent;
      }
      /*** SCROLL BAR END ***/

      .page-title {
        @apply(--paper-font-display2);
      }

      @media (max-width: 600px) {
        .page-title {
          font-size: 24px!important;
        }
      }
    </style>
  </template>
</dom-module>
