<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html"/>
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html"/>
<link rel="import" href="../../bower_components/paper-input/paper-input.html"/>
<link rel="import" href="../../bower_components/paper-button/paper-button.html"/>
<link rel="import" href="../../bower_components/paper-item/paper-item.html"/>
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html"/>
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../behaviors/controller-behavior.html"/>

<dom-module id="apply-function-dialog">
  <template>
    <style include="shared-styles">
      paper-dialog {
        max-width: 505px;
      }

      paper-dialog p {
        /*font-size: 13px;*/
      }

      .full-width {
        /*color: var(--primary-color);*/
        /*color: rgba(0, 0, 0, 0.54);*/
        width: 100%;
        display: block;
        box-sizing: border-box;
      }

      .half-width {
        /*color: var(--primary-text-color);*/
        /*color: var(--secondary-text-color);*/
        width: 49%;
        display: inline-block;
        box-sizing: border-box;
      }

      paper-toast.error a {
        margin-left: 48px;
        color: var(--accent-color);
        cursor: pointer;
      }

      paper-toast.error a:hover {
        text-decoration: underline;
      }

      paper-dialog.error {
        font-size: 16px;
        max-width: 800px;
      }

      paper-dialog.error .stack {
        font-size: 14px;
      }
    </style>

    <iron-signals on-iron-signal-show-obj-function="open"></iron-signals>

    <iron-a11y-keys target="[[_body]]" keys="alt+a" on-keys-pressed="open"
                    stop-keyboard-event-propagation></iron-a11y-keys>

    <iron-a11y-keys target="[[_dialog]]" keys="enter" on-keys-pressed="_confirm"
                    stop-keyboard-event-propagation></iron-a11y-keys>

    <paper-toast id="okTst" text="Parâmetro criado com sucesso!"></paper-toast>

    <paper-toast id="errTst" class="error" text="Erro ao criar parâmetro.">
      <a on-tap="_showError">Ver mais</a>
    </paper-toast>

    <paper-dialog id="errDlg" class="error" with-backdrop
                  entry-animation="slide-from-bottom-animation"
                  exit-animation="slide-down-animation">
      <p>[[errorMessage]]</p>
      <p class="stack">[[stackTrace]]</p>
      <!--<div class="buttons">paper-button dialog-dismiss>Descartar</paper-button></div>-->
    </paper-dialog>

    <paper-dialog id="dialog" with-backdrop
                  entry-animation="scale-up-animation"
                  exit-animation="fade-out-animation"
                  on-iron-overlay-closed="_clear">
      <h2>Calcular parâmetro</h2>
      <div>
        <p>
          Aplique uma função a uma série para criar um novo parâmetro calculado.
          Opcionalmente, determine um intervalo de aplicação.
        </p>
        <form id="form" class="input" on-submit="_confirm">
          <!-- Função -->
          <paper-dropdown-menu class="full-width" label="Função"
                               required error-message="Escolha uma função">
            <paper-menu class="dropdown-content"
                        attr-for-selected="value"
                        selected="{{selectedFunction}}">
              <template is="dom-repeat" items="[[_toArray(_functions)]]">
                <paper-item value="[[item.value]]">[[item.name]]</paper-item>
              </template>
            </paper-menu>
          </paper-dropdown-menu>
          <!-- Parâmetros -->
          <paper-dropdown-menu class="half-width" id="p1Dropdown" label="Parâmetro A">
            <paper-menu class="dropdown-content" selected="{{pA}}" attr-for-selected="data-param">
              <template id="yTemplate" is="dom-repeat" items="[[params.0]]">
                <paper-item data-param$="[[item]]">[[item]]</paper-item>
              </template>
            </paper-menu>
          </paper-dropdown-menu>
          <paper-dropdown-menu class="half-width" id="p2Dropdown" label="Parâmetro B">
            <paper-menu class="dropdown-content" selected="{{pB}}" attr-for-selected="data-param">
              <template id="xTemplate" is="dom-repeat" items="[[params.0]]">
                <paper-item data-param$="[[item]]">[[item]]</paper-item>
              </template>
            </paper-menu>
          </paper-dropdown-menu>
          <!-- Séries -->
          <paper-dropdown-menu class="full-width" label="Série">
            <paper-menu class="dropdown-content"
                        attr-for-selected="value"
                        selected="{{selectedSeries}}">
              <template is="dom-repeat" items="[[series]]">
                <paper-item value="[[item.name]]">[[item.name]]</paper-item>
              </template>
            </paper-menu>
          </paper-dropdown-menu>
          <paper-dropdown-menu class="full-width" label="Série B">
            <paper-menu class="dropdown-content"
                        attr-for-selected="value"
                        selected="{{selectedSeriesB}}">
              <template is="dom-repeat" items="[[series]]">
                <paper-item value="[[item.name]]">[[item.name]]</paper-item>
              </template>
            </paper-menu>
          </paper-dropdown-menu>
          <!-- Tempos -->
          <paper-input class="half-width" label="Tempo Inicial"
                       value="{{tInitial}}"></paper-input>
          <paper-input class="half-width" label="Tempo Final"
                       value="{{tFinal}}"></paper-input>
          <paper-input id="paramName" class="full-width" type="text"
                       label="Nome do parâmetro" required
                       error-message="Escreva um nome para o parâmetro a ser criado"
                       value="{{paramName}}"></paper-input>
        </form>
      </div>
      <div class="buttons">
        <paper-button on-click="close">Descartar</paper-button>
        <paper-button on-click="_confirm">Criar</paper-button>
      </div>
    </paper-dialog>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'apply-function-dialog',

      behaviors: [
        Simular.Controller,
        Simular.KeyboardHandler
      ],

      properties: {
        params: Array,
        series: Array,
        _dialog: {
          type: Object,
          value: function() { return this.$.dialog },
          readOnly: true
        },
        _functions: {
          type: Object,
          value: {
            'Coeficiente Angular': 'ca',
            'Coeficiente Angular Log-Log': 'cal',
            'Correlação de Pearson': 'cp',
            'Delta': 'delta',
            'Média': 'med',
            'Mínimos Quadrados': 'mq',
            'Distância Relativa': 'dr',
            'Relação da Correlação de Pearson': 'rcp',
            'Relação do Coeficiente Angular': 'rca',
            'Relação da Soma': 'rsum',
            'Similaridade do Cosseno': 'sc',
            'Divisão (A/B) de Parâmetros': 'dp',
            'Multiplicação (A*B) de Parâmetros': 'mp',
            'Subtração (A-B) de Parâmetros': 'subp',
            'Soma (A+B) de Parâmetros': 'sump',
            'Distância Entre Séries': 'tsd',
            'Relação Entre Séries': 'tsr'
          }
        }
      },

      observers: [
        '_refreshTemplates(params.*)'
      ],

      ready: function() {
        this.$.paramName.querySelector('input').onblur = function() {
          this.$.paramName.validate();
        }.bind(this);
      },

      close: function() {
        if (this.$.dialog.opened) this.$.dialog.close();
      },

      open: function(e) {
        this._preventDefault(e);
        if (!this.$.dialog.opened) this.$.dialog.open();
      },

      _validate: function() {
        var valid = true;
        for (var el, i = 0; el = this.$.form.children[i], i < this.$.form.children.length; i++) {
          valid = el.validate() && valid;
        }
        return valid;
      },

      _confirm: function() {
        if (this._validate()) {
          this.async(this._calculateNewParam);
          this.close();
        }
      },

      _clear: function(e) {
        if (e && e.target !== this.$.dialog) return;

        for (var el, i = 0; el = this.$.form.children[i], i < this.$.form.children.length; i++) {
          var menu = el.querySelector('paper-menu.dropdown-content');
          if (menu) {
            menu.selected = null;
          } else {
            el.value = null;
          }
          el.invalid = false;
        }
        this.error = null;
      },

      _showError: function(error) {
        this.$.errDlg.open();
      },

      _toArray: function(obj) {
        return Object.keys(obj).map(function (key) {
          return {name: key, value: obj[key]};
        });
      },

      _calculateNewParam: function() {
        this.analysis.execute(smlr.Command({
          _id: 'ApplyFunction',
          seriesName: this.selectedSeries,
          seriesNameB: this.selectedSeriesB,
          functionId: this.selectedFunction,
          paramName: this.paramName,
          tInitial: this.tInitial,
          tFinal: this.tFinal,
          pA: this.pA,
          pB: this.pB
        })).then(function() {
          this.$.okTst.open();
        }.bind(this), function(e) {
          console.log(e);
          this.errorMessage = e.message;
          this.stackTrace = e.stack;
          this.$.errTst.open();
        }.bind(this));
      },

      _refreshTemplates: function(change) {
        // FIXME: Workaround to force re-rendering templates bound to array index; needs fix in Polymer
//        console.warn('_refreshTemplates');
//        console.info(change);

        if (change.path === 'params.#0.length') {
          this.async(function() {
            this.$.yTemplate.render();
            this.$.xTemplate.render();
          });
        }
      }
    });
  })();
  </script>
</dom-module>
