<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Análise de Simulação de Reservatório">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Polymer Starter Kit" />
  <title>Simular</title>
  <!-- Place favicon.ico in the `app/` directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#2E3AA1">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PSK">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- will be replaced with polyfills/polyfills.vulcanized.html -->
  <link rel="import" href="polyfills/polyfills.html">
  <!-- endreplace-->

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  <!-- endreplace-->

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles"></style>

  <!--<link href='https://fonts.googleapis.com/css?family=Michroma|Syncopate:400,700|Work+Sans:400,500,700|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>-->
  <!--<link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>-->

  <script src="draggabilly.pkgd.min.js"></script>
  <script src="everpolate.browserified.min.js"></script>
</head>

<body unresolved class="fullbleed layout vertical">
  <span id="browser-sync-binding"></span>
  <template is="dom-bind" id="app">
    <template is="dom-if" if="[[isElectron]]">
      <top-bar></top-bar>
    </template>

    <analysis-model id="analysis"
                    name="{{name}}"
                    series="{{series}}"
                    params="{{params}}"
                    obs-params="{{obsParams}}"
                    plots="{{plots}}"
                    filters="{{filters}}"
                    cutoff="{{cutoff}}"
                    command-history="{{commandHistory}}"
                    undo-history="{{undoHistory}}"></analysis-model>

    <neon-animated-pages id="nap" attr-for-selected="data-route" selected="{{route}}" class="flex" on-toast-notification="onToastNotification">

      <entry-view data-route="home"
                  on-analysis-loaded="onAnalysisLoaded"
                  on-simulation-loaded="onSimulationLoaded"></entry-view>

      <analysis-view data-route="analysis"
                     name="[[name]]"
                     series="[[series]]"
                     params="[[params]]"
                     obs-params="[[obsParams]]"
                     plots="[[plots]]"
                     filters="[[filters]]"
                     cutoff="[[cutoff]]"
                     command-history="[[commandHistory]]"
                     undo-history="[[undoHistory]]"
                     on-graph-change="onGraphChange"></analysis-view>

    </neon-animated-pages>

    <!-- Uncomment next block to enable Service Worker support (1/2) -->
    <!--
    <paper-toast id="caching-complete"
                 duration="5000"
                 text="Cache completo! Essa aplicação funcionará offline.">
    </paper-toast>

    <template is="dom-if" if="[[!isElectron]]">
      <platinum-sw-register auto-register
                            clients-claim
                            skip-waiting
                            on-service-worker-installed="displayInstalledToast">
        <platinum-sw-cache default-cache-strategy="fastest"
                           cache-config-file="cache-config.json">
        </platinum-sw-cache>
      </platinum-sw-register>
    </template>
    -->
  </template>

  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>

  <script src="scripts/transformations/TransformationFactory.js"></script>
  <script src="scripts/transformations/AbstractTransformation.js"></script>
  <script src="scripts/transformations/MinMaxNormalization.js"></script>

  <script src="scripts/functions/FunctionError.js"></script>
  <script src="scripts/functions/FunctionFactory.js"></script>
  <script src="scripts/functions/AbstractFunction.js"></script>
  <script src="scripts/functions/AbstractObsFunction.js"></script>
  <script src="scripts/functions/AbstractTwoSeriesFunction.js"></script>
  <script src="scripts/functions/LeastSquaresFunction.js"></script>
  <script src="scripts/functions/RelativeDistanceFunction.js"></script>
  <script src="scripts/functions/PearsonCorrelationFunction.js"></script>
  <script src="scripts/functions/RelationOfAngularCoefficientFunction.js"></script>
  <script src="scripts/functions/RelationOfPearsonCorrelationFunction.js"></script>
  <script src="scripts/functions/AngularCoefficientFunction.js"></script>
  <script src="scripts/functions/LogLogAngularCoefficientFunction.js"></script>
  <script src="scripts/functions/MeanFunction.js"></script>
  <script src="scripts/functions/DeltaFunction.js"></script>
  <script src="scripts/functions/RelationOfParamsFunction.js"></script>
  <script src="scripts/functions/MultiplicationOfParamsFunction.js"></script>
  <script src="scripts/functions/RelationOfSumFunction.js"></script>
  <script src="scripts/functions/CosineSimilarityFunction.js"></script>
  <script src="scripts/functions/SumOfParamsFunction.js"></script>
  <script src="scripts/functions/SubtractionOfParamsFunction.js"></script>
  <script src="scripts/functions/TwoSeriesDistanceFunction.js"></script>
  <script src="scripts/functions/TwoSeriesRelationFunction.js"></script>

  <script src="scripts/commands/CommandFactory.js"></script>
  <script src="scripts/commands/AbstractCommand.js"></script>
  <script src="scripts/commands/AddParamCommand.js"></script>
  <script src="scripts/commands/ApplyFunctionCommand.js"></script>
  <script src="scripts/commands/ApplyTransformationCommand.js"></script>
  <script src="scripts/commands/ToggleCutoffCommand.js"></script>
  <script src="scripts/commands/AddFilterCommand.js"></script>
  <script src="scripts/commands/RemoveFilterCommand.js"></script>
  <script src="scripts/commands/AddPlotCommand.js"></script>
  <script src="scripts/commands/AddParamsPlotCommand.js"></script>
  <script src="scripts/commands/AddSeriesPlotCommand.js"></script>
  <script src="scripts/commands/RemovePlotCommand.js"></script>
  <script src="scripts/commands/UpdatePlotCommand.js"></script>
  <!-- endbuild-->

  <!-- FIXME: DEV MODE -->
  <!--<script src="params.js" ></script>-->
  <!--<script src="series.js" ></script>-->
  <!--<script src="seriesTranspose.js" ></script>-->

  <script src="bower_components/papaparse/papaparse.js"></script>
  <script src="bower_components/file-saver.js/FileSaver.js"></script>
</body>

</html>
