<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<!--<link rel="import" href="../../../bower_components/neon-animation/animations/">-->
<link rel="import" href="../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-from-left-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-from-right-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-right-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/transform-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">

<dom-module id="entry-view">
  <template>
    <style include="shared-styles">
      :host {
        --background-color: var(--primary-color);
        --primary-text-color: rgba(255, 255, 255, 1);
        --secondary-text-color: rgba(255, 255, 255, .7);

        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
        @apply(--layout-flex);
        width: 100%;
        height: 100%;
        background-color: var(--background-color);
      }

      .center-container {
        /*@apply(--layout-vertical);*/
        /*@apply(--layout-flex);*/
        @apply(--layout-self-center);

        margin: auto;
        display: block;
        text-align: center;
        color: var(--primary-text-color);

        /*max-width: 368px;*/
      }

      paper-icon-button {
        @apply(--layout-self-center);
        margin: auto;
        height: 120px;
        width: 120px;
        padding: 16px;
        /*background-color: var(--primary-background-color);*/
        /*color: var(--primary-color);*/
        border: 4px solid var(--primary-text-color);
        border-radius: 50%;
      }

      .title {
        /*color: var(--primary-background-color);*/
        margin: 0 0 54px 0;
        font-size: 68px;
        margin-top: -52px;
      }

      .title h1 {
        font-family: 'Michroma', 'Syncopate', 'Roboto', sans-serif;
        margin: 0;
        font-size: 92px;
      }

      .title span {
        display: block;
        color: var(--secondary-text-color);
        font-size: 20px;
        font-weight: 500;

        font-family: "Roboto Mono", monospace;
      }

      .instruction {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        /*max-width: 350px;*/
        margin: auto;
        margin-top: 16px;
      }
    </style>

    <div class="center-container">
      <div class="title">
        <h1>SIMULAR</h1>
        <span>Análise de simulação de reservatório</span>
      </div>

      <paper-icon-button id="up" icon="simular:file-upload" on-tap="_openFileDialog"></paper-icon-button>
      <div class="instruction">Para iniciar, carregue um arquivo de simulação ou uma análise salva.</div>
      <input type="file" id="fileInput" on-change="_load" hidden>
    </div>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'entry-view',

      behaviors: [Polymer.NeonAnimatableBehavior],

      properties: {
        animationConfig: {
          value: function() {
            return {
              entry: {
                name: 'slide-from-bottom-animation',
                node: this
              },
              exit: {
                name: 'slide-up-animation',
                node: this
              }
            }
          }
        }
      },

      _openFileDialog: function() {
        this.async(function() {
//          var evt = document.createEvent('MouseEvents');
//          evt.initEvent('click', true, false);
//          this.$.scriptInput.dispatchEvent(evt);
          this.$.fileInput.click();

          this.async(function() { this.$.up.blur() }, 300); // avoid button stay focused after file dialog is closed
        }, 50);
      },

      _load: function(e) {
        var self = this;

        if (!(e.target.files && e.target.files.length)) {
          console.info('No file was chosen');
          return;
        }

        var fileNameParts = e.target.files[0].name.split('.');
        var file = e.target.files[0];
        this.$.fileInput.value = "";

        if (fileNameParts[fileNameParts.length - 1] === 'sim') {
          // handle simular analysis file

          var reader = new FileReader();
          reader.onload = function(e) {
//            console.log(this.result);
            var analysisModel = JSON.parse(this.result);
//            console.log(model);

            self.fire('analysis-loaded', analysisModel);
          };

          reader.readAsText(file);
          return;
        }

        this._readDataFile(file);
      },

      _throwParseError: function(msg) {
        throw Error('Formato de arquivo inválido' + (msg ? ': ' + msg : '') + '.');
      },

      _readDataFile: function(file) {
        var self = this;
        var reader = new FileReader();

        reader.onload = function(e) {
          //console.log(this.result);
          var lines = this.result.split('\n');
          //console.log(lines);

          var hasNext = function() {
            return lines.length > 0;
          };

          var readNext = function() {
            return hasNext() ? lines.shift().trim() : self._throwParseError();
          };

          var isBreakPoint = function(line) {
            return (line === '#');
          };

          var isNumeric = function(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
          };

          var mapToString = function(v) {
            return v+'';
          };

          var mapToNumber = function(v) {
            return isNumeric(v) ? +v : NaN;
          };

          var readAll = function() {
            // read case name
            var caseName = readNext();

            // check first break point
            if (!isBreakPoint(readNext())) {
              self._throwParseError('Ponto de quebra "#" não encontrado após o nome do caso');
            }

            var series = [];
            var seriesHeader = ['th'];

            // read parameters
            var params = [readNext().split('\t')];
            var line;
            while ((line = readNext()) !== '#') {
              var values = line.split('\t');
              var simLabel = values.shift();
              params.push([simLabel].concat(values.map(mapToNumber)));
              // cache sim name
              seriesHeader.push(simLabel);
            }

            // read all series
            while (hasNext()) {
              var name = readNext();
              if (!name) break; // series reading has ended!
              var data = [seriesHeader.slice()];
              while ((line = readNext()) !== '#') {
                data.push(line.split('\t').map(mapToNumber));
              }
              series.push({name: name, data: data});
            }

            return [caseName, params, series];
          };

          try {
            var result = readAll();
          } catch(e) {
            window.alert('Erros ao ler arquivo de entrada:\n\n' + e.message +
              (e.stack ? '\n\n' + e.stack : '')
            );
            return;
          }

          // validate input file
          var errors = [];
          for (var i = 1; i < result[2].length; i++) {
            var s = result[2][i];
            console.log(s.data);
            if (s.data[0].length != s.data[1].length) {
              errors.push('- quantidade de casos na seção de parâmetros (' + (s.data[0].length-1)
                + ') incompatível com a quantidade de casos na seção da série "' + s.name + '" ('
                + (s.data[1].length-1) + ').');
            }
          }
          if (errors.length > 0) {
            window.alert('Inconsistências ao ler arquivo de entrada:\n\n' + errors.join('\n\n'));
//            return;
          }

          self.fire('simulation-loaded', {
            name: result[0],
            params: result[1],
            series: result[2]
          });
        };

        reader.readAsText(file);
      }
    });
  })();
  </script>
</dom-module>
