<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../behaviors/keyboard-handler-behavior.html">

<dom-module id="analysis-model">
  <template>
    <iron-a11y-keys target="[[_body]]" keys="ctrl+f" on-keys-pressed="_newFilter"></iron-a11y-keys>
    <iron-a11y-keys target="[[_body]]" keys="ctrl+d" on-keys-pressed="_newSeriesPlot"></iron-a11y-keys>
    <iron-a11y-keys target="[[_body]]" keys="ctrl+s" on-keys-pressed="_newParamsPlot"></iron-a11y-keys>
    <iron-a11y-keys target="[[_body]]" keys="ctrl+g" on-keys-pressed="_toggleCutoff"></iron-a11y-keys>
    <iron-a11y-keys target="[[_body]]" keys="ctrl+z" on-keys-pressed="undo"></iron-a11y-keys>
    <iron-a11y-keys target="[[_body]]" keys="ctrl+shift+z" on-keys-pressed="redo"></iron-a11y-keys>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'analysis-model',

      behaviors: [
        Simular.KeyboardHandler
      ],

      properties: {
        version: {
          type: Array,
          value: [1, 3, 0],
          readOnly: true
        },
        name: {
          type: String,
          notify: true,
          readOnly: true
        },
        params: {
          type: Array,
          notify: true,
          readOnly: true
        },
        obsParams: {
          type: Object,
          notify: true,
          readOnly: true
        },
        series: {
          type: Array,
          notify: true,
          readOnly: true
        },
        filters: {
          type: Array,
          notify: true,
          readOnly: true
        },
        cutoff: {
          type: Boolean,
          value: false,
          notify: true,
          readOnly: true
        },
        plots: {
          type: Array,
          notify: true,
          readOnly: true
        },
        operations: {
          type: Object,
          value: {'=': 'eq', '>': 'gt', '<': 'lt', '>=': 'ge', '<=': 'le', '!=': 'ne', '%': 'pc', '%+': 'pp'},
          notify: true,
          readOnly: true
        },
        commandHistory: {
          type: Array,
          notify: true,
          readOnly: true
        },
        undoHistory: {
          type: Array,
          notify: true,
          readOnly: true
        },
        interpolations: {
          type: Object,
          value: {'linear': 'Linear', 'polynomial': 'Polinomial'},
          readOnly: true
        },
        interpolation: {
          type: String,
          value: 'linear'
        }
      },

      get seriesTranspose() {
        if (!this._seriesTranspose && this.series) {
          this._seriesTranspose = {};
          this.series.forEach(function(s) {
            this._seriesTranspose[s.name] = this._transpose(s.data);
          }, this);
        }
        return this._seriesTranspose || null;
      },

      get model() {
        return {
          version: this.version.join('.'),
          name: this.name,
          params: this.params,
          obsParams: this.obsParams,
          series: this.series,
          filters: this.filters,
          cutoff: this.cutoff,
          plots: this.plots,
          commandHistory: this.commandHistory,
          undoHistory: this.undoHistory
        }
      },

      get interpolate() {
        return this.interpolation === 'polynomial' ? window.everpolate.polynomial : window.everpolate.linear;
      },

      ready: function() {
        this.functions = {
          mq: new smlr.LeastSquaresFunction(),
          cp: new smlr.PearsonCorrelationFunction(),
          rcp: new smlr.RelationOfPearsonCorrelationFunction(),
          rca: new smlr.RelationOfAngularCoefficientFunction()
        };
      },

      initAnalysis: function(name, params, series, seriesTranspose) {
        this._setName(name);
        this._setParams(params);
        this._setObsParams({});
        if (seriesTranspose) this._seriesTranspose = seriesTranspose; // necessary before series???
        this._setSeries(series);
        this._setFilters([]);
        this._setPlots([]);
        this._setCommandHistory([]);
        this._setUndoHistory([]);
      },

      loadAnalysis: function(model) {
//        var versionStr = this.version.join('.');
//        if (model.version !== versionStr) {
//          throw Error('Incompatible analysis model. Current is ' + versionStr + '. Loaded is ' + model.version);
//        }

        // sanitize
        var i = 0;
        for (i = 0; i < model.plots.length; i++) {
          if (model.plots[i].type === 'params' && !model.plots[i].hasOwnProperty('obs')) model.plots[i].obs = {};
        }
        for (i = 0; i < model.filters.length; i++) {
          if (!model.filters[i].hasOwnProperty('editName')) model.filters[i].editName = true;
        }

        this._setName(model.name);
        this._setParams(model.params);
        this._setObsParams(model.obsParams || {});
        this._setSeries(model.series);
        this._setCutoff(model.cutoff);

        var commandHistory = [], undoHistory = [], cmdFactory = new smlr.CommandFactory(), i = 0, c;
        for (; i < model.commandHistory.length, c = model.commandHistory[i]; i++) {
          commandHistory.push(cmdFactory.create(c));
        }
        for (; i < model.undoHistory.length, c = model.undoHistory[i]; i++) {
          undoHistory.push(cmdFactory.create(c));
        }
        this._setCommandHistory(commandHistory);
        this._setUndoHistory(undoHistory);

        this.async(function() { this._setFilters(model.filters); }, 300);
        this.async(function() { this._setPlots(model.plots); }, 1100);
      },

//      createPlotSeries: function(seriesIndex, logscale, cols) {
//        console.warn('createPlotSeries');
//
//        var plot = {
//          type: 'series',
//          seriesIndex: seriesIndex,
//          logscale: logscale || false,
//          cols: cols || 12
//        };
//
//        Object.defineProperty(plot, 'graph', {enumerable: false, writable: true});
//
//        this.push('plots', plot);
//      },
//
//      createPlotParams: function(x, y, cols) {
//        console.warn('createPlotParams');
//
//        if (x && isNaN(x)) {
//          x = this.params[0].indexOf(x);
//        }
//
//        if (y && isNaN(y)) {
//          y = this.params[0].indexOf(y);
//        }
//
//        var plot = {
//          type: 'params',
//          x: x,
//          y: y,
//          cols: cols || 3
//        };
//
//        Object.defineProperty(plot, 'graph', {enumerable: false, writable: true});
//
//        this.push('plots', plot);
//      },

      getParamsNames: function() {
        return this.params[0];
      },

      getSeriesNames: function() {
        return Object.keys(this.seriesTranspose);
      },

      paramExists: function(paramName) {
        return this.params[0].indexOf(paramName) > -1;
      },

      seriesExists: function(seriesName) {
        return this.seriesTranspose.hasOwnProperty(seriesName);
      },

      isOperationValid: function(op) {
        for (var p in this.operations) {
          if (op === p || op === this.operations[p])
            return true;
        }
        return false;
      },

      toggleCutoff: function() {
        this._setCutoff(!this.cutoff);
      },

      execute: function(command, isRedo) {
        return new Promise(function(resolve, reject) {
          try {
            command.do(this, resolve, reject);
            this.push('commandHistory', command);
            if (isRedo !== true) this.splice('undoHistory', 0, this.undoHistory.length);
          } catch(e) {
            reject(e);
          }
        }.bind(this));
      },

      undo: function() {
        return new Promise(function(resolve, reject) {
          try {
            if (this.commandHistory.length) {
              var c = this.pop('commandHistory');
              c.undo(this, resolve, reject);
              this.push('undoHistory', c);
            } else {
              resolve();
            }
          } catch(e) {
            reject(e);
          }
        }.bind(this));
      },

      redo: function() {
        return new Promise(function(resolve, reject) {
          if (this.undoHistory.length) {
            var command = this.pop('undoHistory');
            this.execute(command, true).then(function(resolved) {
              resolve(resolved);
            }, function(rejected) {
              reject(rejected);
            });
          } else {
            resolve();
          }
        }.bind(this));

//        return new Promise(function(resolve, reject) {
//          try {
//            if (this.undoHistory.length) {
//              var c = this.pop('undoHistory');
//              console.log(c);
//              c.do(this, resolve, reject);
//              this.push('commandHistory', c);
//            } else {
//              resolve();
//            }
//          } catch(e) {
//            reject(e);
//          }
//        }.bind(this));
      },

//      calculateParam: function(callback, series, func, paramName, t0, t1) {
//        var worker = new Worker('/scripts/functions/' + func);
//
//        worker.addEventListener('message', function(e) {
//          try {
//            console.info(paramName);
//
//            if (e.data.name == 'Error') {
//              throw new FunctionError(e.data);
//            }
//
//            if (e.data.name == 'FunctionError') {
//              throw e.data;
//            }
//
//            if (!Array.isArray(e.data)) {
//              throw new FunctionError(e.data, "Propriedade 'data' não é array.");
//            }
//
//            if (e.data.length != (this.params.length - 1)) {
//              throw new FunctionError(e.data, "Propriedade 'data' com tamanho diferente.");
//            }
//
//            console.log(e.data);
//            this.addParam(paramName, e.data);
//            if (callback) callback();
//          } catch (e) {
//            if (callback) callback(e);
//          } finally {
//            worker.terminate();
//          }
//        }.bind(this), false);
//
//        console.info(series);
//        console.info(func);
//        console.info(t0);
//        console.info(t1);
//
//        worker.postMessage({
//          params: this.params,
//          series: series,
//          tInitial: t0,
//          tFinal: t1
//        });
//      },

      _newSeriesPlot: function(e) {
        console.warn('_newSeriesPlot');

        this._preventDefault(e);
        this.execute(new smlr.AddSeriesPlotCommand());
      },

      _newParamsPlot: function(e) {
        console.warn('_newParamsPlot');

        this._preventDefault(e);
        this.execute(new smlr.AddParamsPlotCommand());
      },

      _newFilter: function(e) {
        console.warn('_newFilter');

        this._preventDefault(e);
        this.execute(smlr.Command({_id: 'AddFilter'}));
//        this.async(function() { this.set('filters.' + (this.filters.length-1) + '.name', 'F' + this.filters.length) }, 50);
      },

      _toggleCutoff: function(e) {
        console.warn('_toggleCutoff');

        this._preventDefault(e);
        this.execute(smlr.Command({_id: 'ToggleCutoff'}));
      },

      _transpose: function(array) {
        var newArray = [],
            origArrayLength = array.length,
            arrayLength = array[0].length,
            i;

        for (i = 0; i < arrayLength; i++) {
          newArray.push([]);
        }

        for (i = 0; i < origArrayLength; i++) {
          for (var j = 0; j < arrayLength; j++) {
            newArray[j].push(array[i][j]);
          }
        }

        return newArray;
      }
    });
  })();
  </script>
</dom-module>
