<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../icons.html">

<dom-module id="filter-item-condition">
  <template>
    <style>
      :host {
        display: block;
      }

      input, select {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.38);
        color: rgba(0, 0, 0, 0.38);
      }

      input {
        padding: 5px 0;
      }

      select {
        cursor: pointer;
        padding: 0 0 4px 0;
      }

      select option {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.87) !important;
        background-color: transparent;
      }

      input::-webkit-input-placeholder,
      select::-webkit-input-placeholder{
        color: rgba(0, 0, 0, 0.38);
        text-shadow: none;
        -webkit-text-fill-color: initial;
      }

      select:focus, select:active,
      input:focus, input:active  {
        color: var(--accent-color);
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.87);
        -webkit-text-fill-color: transparent;

        outline: none;
        border: 0;
        border-bottom: 1px solid var(--accent-color);
      }

      .param {
        width: 108px;
      }

      .op {
        width: 42px;
      }

      .value {
        width: 40px;
      }
    </style>

    <select id="param" class="param" on-change="_paramChanged">
      <template id="paramsTemplate" is="dom-repeat" items="[[params.0]]">
        <option value="[[index]]">[[item]]</option>
      </template>
    </select>
    <select id="op" class="op" on-change="_opChanged">
      <option value="eq">=</option>
      <option value="gt">&gt;</option>
      <option value="lt">&lt;</option>
      <option value="ge">&gt;=</option>
      <option value="le">&lt;=</option>
      <option value="ne">!=</option>
      <option value="pc">%</option>
      <option value="pp">%+</option>
    </select>
    <input id="value" class="value" value="{{value::input}}" placeholder="Valor" on-keyup="_handleKeyUp"/>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'filter-item-condition',

      properties: {
        params: Array,
        param: {
          type: Number,
          notify: true
        },
        op: {
          type: String,
          notify: true
        },
        value: {
          type: Number,
          notify: true
        }
      },

      observers: [
        '_refreshTemplates(params.*)',
        '_refreshParam(param)',
        '_refreshOp(op)'
      ],

      attached: function() {
        if (this.value == null) this.async(function() { this.focus() });
      },

      focus: function() {
        this.$.param.focus();
        this._openSelect(this.$.param);
      },

      _paramChanged: function () {
        this.param = this.$.param.value;
        this.async(function() { this._openSelect(this.$.op) });
        this.fire('condition-changed');
      },

      _opChanged: function () {
        this.op = this.$.op.value;
        this.async(function() { this.$.value.focus() });
        this.fire('condition-changed');
      },

      _refreshParam: function(param) {
        this.async(function() { this.$.param.value = param });
      },

      _refreshOp: function(op) {
        this.async(function() { this.$.op.value = op });
      },

      _refreshTemplates: function(change) {
        // FIXME: Workaround to force re-rendering templates bound to array index; needs fix in Polymer
//        console.warn('_refreshTemplates');
//        console.info(change);

        if (change.path === 'params.#0.length') {
          this.async(function() { this.$.paramsTemplate.render() });
        }
      },

      _handleKeyUp: function(e) {
        if (e.keyCode === 13) {
          e.stopPropagation();
          e.preventDefault();
          if (e.shiftKey) {
            this.async(function() { this.fire('command', 'add') });
          } else {
            e.target.blur(); // trigger change to update this.value
            this.async(function() { this.fire('command', 'finish') });
          }
        } else {
          this.fire('condition-changed');
        }
      },

      _openSelect: function(el) {
        var e = document.createEvent('MouseEvents');
        e.initMouseEvent('mousedown', true, true);
        el.dispatchEvent(e);
      }
    });
  })();
  </script>
</dom-module>
