<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../behaviors/controller-behavior.html">
<link rel="import" href="../icons.html">
<link rel="import" href="./filter-item-condition.html">

<dom-module id="filter-item">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
      }

      .filter-container {
        /*height: 48px;*/
        /*padding: 0 16px;*/
      }

      .filter-view-container:hover {
        background: rgba(0,0,0,.05);
      }

      .filter-view-container {
        padding: 0 16px;
        cursor: pointer;
      }

      .filter-view-container:hover .filter-view-icon {
        display: inline-block;
      }

      .filter-edit-container {
        background: rgba(0,0,0,.05);
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        padding: 8px 0;
      }

      .filter-edit-item {
        padding: 0 16px;
        cursor: pointer;
      }

      .filter-edit-item:hover {
        background: rgba(0,0,0,.05);
      }

      .filter-icon-button {
        background: white;
        display: inline-block;
        border-radius: 50%;
        float: left;
        margin-top: 8px;
      }

      .filter-action-icon {
        float: right;
        width: 28px;
        height: 28px;
        padding: 4px;
        margin: 14px -8px 14px 8px;
        color: rgba(0, 0, 0, 0.54);
      }

      .filter-label {
        display: inline-block;
        margin-left: 16px;
        max-width: 140px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
      }

      .color-card {
        position: absolute;
        left: 72px;
        top: 0;
        width: 188px;
        background-color: white;
        z-index: 1;
        padding: 0 7px;
        box-sizing: border-box;
      }

      .hidden {
        display: none;
      }

      .color-pink {
        color: #FF4081;
      }

      .color-cyan {
        color: #13BCD4;
      }

      .color-yellow {
        color: #FFEB3B;
      }

      .filter-disabled-line {
        position: absolute;
        height: 0;
        border-bottom: 1px solid #616161;
        width: 148px;
        top: 36px;
        margin-left: -1px;
      }

      ul.condition-list {
        line-height: 40px;
        padding: 0;
        list-style: none;
        font-size: 13px !important;
      }

      ul.condition-list li {
        padding: 0 16px;
      }

      ul.condition-list li.action {
        cursor: pointer;
      }

      ul.condition-list li:hover {
        background: rgba(0,0,0,.05);
      }

      ul.condition-list li filter-item-condition {
        display: inline-block;
      }

      ul.condition-list li:hover .condition-action-remove {
        display: inline-block;
      }

      ul.condition-list iron-icon {
        height: 18px;
        width: 18px;
        float: left;
        margin: 10px 38px 0 0;
      }

      .condition-action-remove {
        float: right;
        width: 26px;
        height: 26px;
        padding: 4px;
        margin: 7px -8px 7px 8px;
      }

      .disabled {
        color: rgba(0, 0, 0, 0.26);
      }

      input.filter-label {
        display: inline-block;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.38);
        padding: 5px 0;
        color: rgba(0, 0, 0, 0.38);
        margin-top: 15px;
      }

      input.filter-label::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.38);
        text-shadow: none;
        -webkit-text-fill-color: initial;
      }

      input.filter-label:focus, input.filter-label:active {
        color: var(--accent-color);
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.87);
        -webkit-text-fill-color: transparent;

        outline: none;
        border: 0;
        border-bottom: 1px solid var(--accent-color);
      }
    </style>

    <!-- EDIT -->
    <div hidden$="[[!_editing]]" class="filter-container filter-edit-container">
      <div id="editItem" class="filter-edit-item">
        <paper-icon-button id="editColorIcon"
                           icon="simular:bookmark-outline"
                           class="filter-icon-button"
                           on-tap="toggleColorCard"></paper-icon-button>

        <!--<span class="filters-label">[[filters.color]]</span>-->
        <input id="filterName"
               class="filter-label filter-name"
               value="{{filter.name::change}}"
               placeholder="[[_editNamePlaceholder(filter.editName)]]"
               on-keydown="_onFilterNameKeyDown"
               disabled$="[[_isFalse(filter.editName)]]"/>

        <paper-icon-button class="filter-action-icon"
                           icon="[[_editNameIcon(filter.editName)]]"
                           title$="[[_editNameTitle(filter.editName)]]"
                           on-tap="_toggleEditName"></paper-icon-button>
      </div>

      <ul class="condition-list">
        <template is="dom-repeat" items="[[filter.conditions]]">
          <li>
            <filter-item-condition params="[[params]]"
                                   param="{{item.param}}"
                                   op="{{item.op}}"
                                   value="{{item.value}}"
                                   on-command="_handleCommand"
                                   on-condition-changed="_updateName"></filter-item-condition>
            <paper-icon-button icon="simular:cancel"
                               class="condition-action-remove hidden"
                               data-index$="[[index]]"
                               on-tap="_removeCondition"></paper-icon-button>
          </li>
        </template>
        <li class="action" title="Shift+Enter" on-tap="_newCondition">
          <!--<iron-icon icon="simular:add"></iron-icon>-->
          <span>Nova condição</span>
        </li>
        <li class="action" title="Enter" on-tap="_toggleEditingAsync" data-wait="50">
          <!--<iron-icon icon="simular:add"></iron-icon>-->
          <span>Confirmar</span>
        </li>
      </ul>
    </div>

    <!-- VIEW -->
    <div hidden$="[[_editing]]"
         id="filterViewContainer"
         class$="[[_filterViewContainerClass(filter.disabled)]]"
         on-tap="_toggleEditingAsync" data-wait="250"
         title="[[filter.name]]">
      <paper-ripple></paper-ripple>

      <paper-icon-button id="viewColorIcon"
                         icon="simular:bookmark"
                         class="filter-icon-button"
                         on-tap="toggleColorCard"></paper-icon-button>

      <span class="filter-label">[[filter.name]]</span>

      <paper-icon-button icon="simular:block"
                         id="disabledIcon"
                         class="filter-action-icon filter-view-icon hidden"
                         on-tap="_toggleDisabled"></paper-icon-button>

      <paper-icon-button icon="simular:clear"
                         id="removeIcon"
                         class="filter-action-icon filter-view-icon hidden"
                         on-tap="_remove"></paper-icon-button>
    </div>

    <!-- COLOR CARD -->
    <paper-material id="colorCard" elevation="1" class="color-card hidden">
      <paper-icon-button icon="simular:bookmark"
                         class="color-cyan"
                         data-color="cyan"
                         on-tap="_setColor">
      </paper-icon-button>
      <paper-icon-button icon="simular:bookmark"
                         class="color-pink"
                         data-color="pink"
                         on-tap="_setColor">
      </paper-icon-button>
      <paper-icon-button icon="simular:bookmark"
                         class="color-yellow"
                         data-color="yellow"
                         on-tap="_setColor">
      </paper-icon-button>
      <paper-icon-button icon="simular:bookmark"
                         data-color="outline"
                         on-tap="_setColor">
      </paper-icon-button>
    </paper-material>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'filter-item',

      properties: {
        params: Array,
        filter: {
          type: Object,
          notify: true
        },
        _editing: {
          type: Boolean,
          value: false
        },
        _initializing: {
          type: Boolean,
          value: false
        },
        _operations: {
          type: Object,
          value: {'eq': '=', 'gt': '>', 'lt': '<', 'ge': '>=', 'le': '<=', 'ne': '!=', 'pc': '%', 'pp': '%+'},
          readOnly: true
        }
      },

      observers: [
        '_refreshColorIcon(filter.color)',
        '_updateName(filter.conditions.*)'
      ],

      behaviors: [
        Simular.Controller
      ],

      attached: function() {
        if (!this.filter.name && !this.filter.conditions.length) {
          // Se o item está vazio, então iniciar guia de preenchimento
          this.initialize();
        }
      },

      initialize: function() {
        this.async(function() {
          this._initializing = true;
          this.toggleColorCard();
        });
      },

      toggleColorCard: function(e) {
        if (e && e.stopPropagation) e.stopPropagation();

        var hidden = this.$.colorCard.classList.contains('hidden');
        this.toggleClass('hidden', !hidden, this.$.colorCard);

        // when auto show card, focus on the current color icon to enable
        // choosing other colors via tab key fluently
        if (hidden) {
          if (this._editing) {
            this.$.editColorIcon.focus();
          } else {
            this.$.viewColorIcon.focus();
          }
        }

        if (!hidden) {
          if (this._initializing) {
            this.toggleEditing();
            this.async(function() {
              this._newCondition();
            });
            this._initializing = false;
          } else {
            this.fire('filter-update', this.filter);
          }
        }
      },

      toggleEditing: function() {
        if (this._editing) {
          this.fire('filter-collapse');
          this.fire('filter-update', this.filter);
        } else {
          this.fire('filter-expand');
        }

        this._editing = !this._editing;

        this.$.colorCard.style.top = this._editing ? '8px' : '0';
      },

      _editNamePlaceholder: function(editName) {
        return editName
          ? 'Digite o nome do filtro'
          : 'Nome do filtro';
      },

      _editNameTitle: function(editName) {
        return editName
          ? 'Edição manual do nome habilitada.\nClique para habilitar edição automática do nome do filtro.'
          : 'Edição automática do nome habilitada.\nClique para editar o nome do filtro.';
      },

      _isFalse: function(editName) {
        return !editName;
      },

      _editNameIcon: function(editName) {
        return editName ? 'simular:text-format' : 'simular:create';
      },

      _toggleEditName: function() {
        this.set('filter.editName', !this.filter.editName);
      },

      _updateName: function() {
        if (this.filter.editName || !this.filter.conditions.length) return;
        if (!this.params) return; // workaround to load analysis

        var name = '';
        for (var i = 0; i < this.filter.conditions.length; i++) {
          var c = this.filter.conditions[i];
          if (c.value != null) {
            name += (this._getParamName(c.param).substring(0, 6) + this._operations[c.op] + c.value + ' & ')
          }
        }
        if (name) this.set('filter.name', name.slice(0, -3));
      },

      _getParamName: function(i) {
        return this.params[0][i];
      },

      _toggleEditingAsync: function(e) {
        // wait ripple effect
        this.async(this.toggleEditing, e.target.dataset.wait);
      },

      _onFilterNameKeyDown: function(e) {
        if (e.keyCode === 13) {
          e.stopPropagation();
          e.preventDefault();
          if (e.ctrlKey) {
            this.async(function() { this._finishEditing() });
          } else {
            this.async(function() { this._newCondition() });
          }
        }
      },

      _paramChanged: function () {
        this.set('filter.param', this.$.param.value);
//        console.log(this.value);
      },

      _opChanged: function () {
        this.set('filter.op', this.$.op.value);
//        console.log(this.$.opLabel);
      },

      _finishEditing: function() {
        if (this.filter.disabled) this._toggleDisabled();

        this.toggleEditing();
      },

      _setColor: function(e) {
        var color = this.filter.color;
        if (e && e.stopPropagation) {
          e.stopPropagation();
          color = e.target.parentNode.dataset.color || e.target.dataset.color;
        }

        this._oldColor = this.filter.color;
        this.set('filter.color', color);

        this.toggleColorCard();
      },

      _refreshColorIcon: function(color) {
        // first remove current color class
        var clazz = 'color-' + this._oldColor;
        this.toggleClass(clazz, false, this.$.editColorIcon);
        this.toggleClass(clazz, false, this.$.viewColorIcon);

        // then update the icon
        this._updateIcons(color, this.filter.disabled);

        // lastly add new color class
        clazz = 'color-' + color;
        this.toggleClass(clazz, true, this.$.editColorIcon);
        this.toggleClass(clazz, true, this.$.viewColorIcon);
      },

      _filterViewContainerClass: function(disabled) {
//        console.warn('_filterViewContainerClass');
//        console.log(disabled);
        return 'filter-container filter-view-container' + (disabled ? ' disabled' : '');
      },

      _toggleDisabled: function(e) {
        if (e && e.stopPropagation) e.stopPropagation();

//        this.$.disabledLine.style.width =
//            (this.$.labelContainer.offsetWidth + 2) + 'px';
//        this.toggleClass('hidden', this.filters.disabled, this.$.disabledLine);

        this.set('filter.disabled', !this.filter.disabled);

        this._updateIcons(this.filter.color, this.filter.disabled);

        this.fire('filter-update', this.filter);
      },

      _remove: function(e) {
        if (e && e.stopPropagation) e.stopPropagation();

        // wait ripple effect
        this.async(function() { this.analysis.execute(smlr.Command({_id: 'RemoveFilter', filter: this.filter})) }, 150);
      },

      _updateIcons: function(color, disabled) {
        if (disabled) {
          this.$.viewColorIcon.icon = 'simular:bookmark-remove';
//          this.$.editColorIcon.icon = 'simular:bookmark-remove';
          return;
        }

//        if (color === 'outline') {
//          this.$.viewColorIcon.icon = 'simular:bookmark-outline';
//          this.$.editColorIcon.icon = 'simular:bookmark-outline';
//        } else {
          this.$.viewColorIcon.icon = 'simular:bookmark';
          this.$.editColorIcon.icon = 'simular:bookmark';
//        }
      },

      _newCondition: function(e) {
        if (e && e.stopPropagation) e.stopPropagation();

        this.push('filter.conditions', {
          param: 0, op: 'eq', value: null
        });
      },

      _removeCondition: function(e) {
        e.stopPropagation();

        var idx = e.target.parentNode.dataset.index || e.target.dataset.index;

        this.splice('filter.conditions', idx, 1);
      },

      _handleCommand: function(e) {
        if (e.detail === 'add') {
          this._newCondition();
        } else if (e.detail === 'finish') {
          this._finishEditing();
        } else {
          console.warn('Command not handled.');
        }
      }
    });
  })();
  </script>
</dom-module>
