<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../behaviors/controller-behavior.html">
<link rel="import" href="filter-item.html">

<dom-module id="filter-list">
  <template>
    <style>
      :host {
        display: block;
        line-height: 56px;
      }

      ul {
        list-style: none;
        position: relative;
        margin: 0 -8px 0 0;
        padding: 8px 0;
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
      }

      li {
        display: block;
        position: relative;
        padding: 0 0;
      }

      li.filter-item:hover {
        background: rgba(0,0,0,.05);
      }

      li.filter-item {
        line-height: 56px;
        cursor: pointer;
      }

      li.filter-item iron-icon {
        float: left;
        margin: 15px 24px 0 24px;
      }
    </style>

    <ul>
      <li hidden$="[[!cutoff]]" class="filter-item" on-tap="_toggleCutoff" title="Clique para visualizar todos os casos (Ctrl+G)">
        <paper-ripple></paper-ripple>
        <iron-icon icon="simular:filter"></iron-icon>
        <span>Casos filtrados</span>
      </li>
      <li hidden$="[[cutoff]]" class="filter-item" on-tap="_toggleCutoff" title="Clique para visualizar somente os casos filtrados (Ctrl+G)">
        <paper-ripple></paper-ripple>
        <iron-icon icon="simular:filter-remove"></iron-icon>
        <span>Todos os casos</span>
      </li>
    </ul>

    <ul id="filtersList">
      <template is="dom-repeat" items="[[filters]]">
        <li>
          <filter-item filter="{{item}}"
                       params="[[params]]"
                       on-filter-expand="_itemExpanded"
                       on-filter-collapse="_itemCollapsed"></filter-item>
        </li>
      </template>
    </ul>

    <ul>
      <li class="filter-item" on-tap="_newFilter" title="Clique para criar um novo filtro (Ctrl+F)">
        <paper-ripple></paper-ripple>
        <iron-icon icon="simular:add"></iron-icon>
        <span>Criar novo...</span>
      </li>
    </ul>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'filter-list',

      behaviors: [
        Simular.Controller
      ],

      properties: {
        params: Array,
        // TODO: Maintain a separated copy for editing and later syncing? Because any time a new item is just added, then refresh is triggered unnecessarily.
        filters: Array,
        cutoff: Boolean
      },

      _newFilter: function() {
        // wait ripple effect
        this.async(function() { this.analysis.execute(smlr.Command({_id: 'AddFilter'})) }, 50);
//        this.async(function() { this.set('filters.' + (this.filters.length-1) + '.name', 'F' + this.filters.length) }, 100);
      },

      _itemExpanded: function(e) {
        if (this.activeItem) this.activeItem.toggleEditing();
        this.activeItem = e.target;
      },

      _itemCollapsed: function(e) {
        this.activeItem = null;
      },

      _toggleCutoff: function() {
        // wait ripple effect
        this.async(function() { this.analysis.execute(smlr.Command({_id: 'ToggleCutoff'})) }, 150);
      }
    });
  })();
  </script>
</dom-module>
