<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../behaviors/controller-behavior.html">
<link rel="import" href="../plots/plots-view.html">
<link rel="import" href="../filters/filter-list.html">
<link rel="import" href="../params/apply-function-dialog.html">
<link rel="import" href="../footer-view.html">
<link rel="import" href="analysis-fab.html">

<dom-module id="analysis-view">
  <template>
    <style include="shared-styles">
      :host {
        @apply(--layout-vertical);
        @apply(--layout-flex);

        background-color: var(--tertiary-background-color);
      }

      paper-toolbar {
        @apply(--shadow-elevation-4dp);
        z-index: 220;
        font-size: 18px;
      }

      paper-toolbar .app-name {
        font-family: 'Michroma', 'Helvetica Neue', 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
      }

      paper-toolbar .analysis-name {
        font-family: 'Open Sans', 'Helvetica Neue', 'Roboto', sans-serif;
        font-size: 18px;
        margin-left: 16px;
        margin-top: 6px;
      }

      .body {
        @apply(--layout-horizontal);
        @apply(--layout-flex);

        overflow: hidden;
      }

      .left-elevation {
        @apply(--shadow-elevation-4dp);
        /*@apply(--shadow-transition);*/
        z-index: 210;

        @apply(--layout-horizontal);
        flex: 0 0 280px;
        width: 280px;
      }

      .left {
        overflow-y: overlay;
        overflow-x: hidden;
        visibility: hidden;
      }

      .left filter-list, div.left:hover {
        visibility: visible;
      }

      .left::-webkit-scrollbar {
        width: 11px;
      }

      .left::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,.2);
        background-clip: padding-box;
        border: solid transparent;
        border-width: 0 0 0 4px;
      }

      .left::-webkit-scrollbar-track {
        background-clip: padding-box;
        border: solid transparent;
        border-width: 0 0 0 4px;
      }

      .left filter-list {
        width: 256px;
        margin: 0 16px 0 8px;
        color: var(--secondary-text-color);
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 90%;
      }

      .main {
        @apply(--layout-horizontal);
        @apply(--layout-flex);

        position: relative;
      }

      .main plots-view {
        @apply(--layout-flex);
      }
    </style>

    <apply-function-dialog series="[[series]]" params="[[params]]"></apply-function-dialog>

    <input type="file" id="obs" on-change="_onObsChange" hidden>
    <input type="file" id="script" on-change="_onScriptChange" hidden>

    <!--<paper-header-panel id="mainHeader" class="flex layout vertical">-->
      <!-- Main Toolbar -->
      <paper-toolbar>
        <!-- Menu icon -->
        <!--<paper-icon-button id="paperToggle"-->
        <!--icon="simular:menu"-->
        <!--paper-drawer-toggle>-->
        <!--</paper-icon-button>-->

        <!-- Fill center space -->
        <span class="flex"></span>

        <!-- Toolbar icons -->
        <!--<paper-icon-button id="openButton" icon="simular:folder-open" hidden$="[[!isNotAnalysis(route)]]"-->
        <!--on-tap="_openAnalysis" tabIndex="-1"></paper-icon-button>-->
        <paper-icon-button id="undoButton" icon="simular:undo" hidden$="[[isNotAnalysis(route)]]"
                           on-tap="_undo" tabIndex="-1" disabled$="[[_isEmpty(commandHistory.length)]]"
                           title$="[[_computeUndoTitle(commandHistory.length)]]"></paper-icon-button>
        <paper-icon-button id="redoButton" icon="simular:redo" hidden$="[[isNotAnalysis(route)]]"
                           on-tap="_redo" tabIndex="-1" disabled$="[[_isEmpty(undoHistory.length)]]"
                           title$="[[_computeRedoTitle(undoHistory.length)]]"></paper-icon-button>
        <paper-icon-button id="obsButton" icon="simular:merge" hidden$="[[isNotAnalysis(route)]]"
                           on-tap="_openObsDialog" tabIndex="-1"
                           title="Carregar histórico"></paper-icon-button>
        <paper-icon-button id="scriptButton" icon="simular:script" hidden$="[[isNotAnalysis(route)]]"
                           on-tap="_openScriptDialog" tabIndex="-1"
                           title="Executar script"></paper-icon-button>
        <paper-icon-button id="exportButton" icon="simular:export" hidden$="[[isNotAnalysis(route)]]"
                           on-tap="_exportParams" tabIndex="-1"
                           title="Exportar parâmetros"></paper-icon-button>
        <paper-icon-button id="saveButton" icon="simular:save" hidden$="[[isNotAnalysis(route)]]"
                           on-tap="_saveAnalysis" tabIndex="-1"
                           title="Salvar análise"></paper-icon-button>

        <!-- Application name -->
        <div class="middle middle-container center horizontal layout">
          <div class="app-name">Simular</div>
          <div class="analysis-name">[[name]]</div>
        </div>
      </paper-toolbar>

      <div class="body">
        <div class="left-elevation">
          <div class="left">
            <filter-list params="[[params]]"
                         obs-params="[[obsParams]]"
                         filters="[[filters]]"
                         cutoff="[[cutoff]]"
                         on-filter-update="_updateFilters"></filter-list>
          </div>
        </div>
        <div class="main">
          <plots-view id="plots"
                      series="[[series]]"
                      params="[[params]]"
                      obs-params="[[obsParams]]"
                      filters="[[filters]]"
                      cutoff="[[cutoff]]"
                      plots="[[plots]]"></plots-view>

          <analysis-fab id="fab"></analysis-fab>
        </div>
      </div>
    <!--</paper-header-panel>-->

    <footer-view id="footer"></footer-view>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'analysis-view',

      behaviors: [
        Polymer.NeonAnimatableBehavior,
        Simular.Controller
      ],

      properties: {
        animationConfig: {
          value: function() {
            return {
              entry: {
                name: 'fade-in-animation',
                node: this
              },
              exit: {
                name: 'fade-out-animation',
                node: this
              }
            }
          }
        }
      },

      _updateFilters: function() {
        console.warn('_updateFilters');

        this.$.plots.refresh();
      },

      _openObsDialog: function() {
        this.$.obs.click();
        this.async(function() { this.$.obsButton.blur() }, 300); // avoid button stay focused after file dialog is closed
      },

      _openScriptDialog: function() {
        this.$.script.click();
//        var evt = document.createEvent('MouseEvents');
//        evt.initEvent('click', true, false);
//        this.$.script.dispatchEvent(evt);

        this.async(function() { this.$.scriptButton.blur() }, 300); // avoid button stay focused after file dialog is closed
      },

      _onObsChange: function(e) {
        var self = this;

        var onload = function(e) {
          var lines = this.result.split('\n');

          var throwParseError = function(msg) {
            throw Error('Formato de arquivo inválido' + (msg ? ': ' + msg : '') + '.');
          };

          var hasNext = function() {
            return lines.length > 0;
          };

          var hasNextAndNotNewWell = function() {
            var line = lines[0];
            debugger;
            return lines.length > 0 && !lines[0].trim().startsWith("'");
          };

          var readNext = function() {
            return hasNext() ? lines.shift().trim() : throwParseError();
          };

          var readNextSkippingEmpty = function() {
            var line = '';
            while (line === '') {
              try {
                line = readNext();
              } catch (e) {
                line = '<<<EOF';
              }
            }
            return line;
          };

          var isNumeric = function(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
          };

          var mapToNumber = function(v) {
            return isNumeric(v) ? +v : NaN;
          };

          readNextSkippingEmpty();
          readNextSkippingEmpty();
          readNextSkippingEmpty();
          readNextSkippingEmpty();
          readNextSkippingEmpty();

          var series = [];
          // read series names
          var seriesNames = readNext().match(/(?:[^\s'"]+|['"][^'"]*['"])+/g);
//          debugger;
          readNextSkippingEmpty();
          var numberOfWells = readNextSkippingEmpty();

          for (var j = 0; j < seriesNames.length; j++) {
            seriesNames[j] = seriesNames[j].slice(1, -1); // remove commas
          }

          for (var i = 0; i < numberOfWells; i++) {
            var wellName = readNextSkippingEmpty().slice(1, -1);

            for (var j = 0; j < seriesNames.length; j++) {
              series.push({name: wellName + '\t' + seriesNames[j], data: [['th', 'OBS']]});
            }

            // read all series data
            while (hasNext()) {
              var line = readNextSkippingEmpty();
              if (line.startsWith("'")) {
                lines.unshift(line);
              }
              if (line.startsWith("'") || line === '<<<EOF') {
                break;
              }

              var values = line.split(/\s+/).map(mapToNumber);

              for (var k = 1; k < values.length; k++) {
                series[k-1+(i*seriesNames.length)].data.push([values[0], values[k]]);
              }
            }
//            debugger;
          }

          var seriesMap = {};
          for (var i = 0; i < series.length; i++) {
            seriesMap[series[i].name] = series[i].data;
          }

//          console.log(seriesMap);
//          console.log(self.analysis.series);

          // put data into analysis
          var z = 0;
          for (var i = 0; i < self.analysis.series.length; i++) {
            var s = self.analysis.series[i];
            if (seriesMap.hasOwnProperty(s.name)) {

              var xIn = seriesMap[s.name].map(function(v) {return  v[0]});
              xIn.shift();
              var yIn = seriesMap[s.name].map(function(v) {return  v[1]});
              yIn.shift();
              var xOut = s.data.map(function(v) {return  v[0]});
              xOut.shift();

              console.log(xIn);
              console.log(xOut);

              // verifica quantos X's das simulações antecedem os X's do histórico
              for (var previousX = 0; previousX < xOut.length; previousX++) {
                if (xOut[previousX] > xIn[0])
                  break;
                xOut.shift();
              }

              // verifica quantos X's das simulações sucedem os X's do histórico
              var laterX = 0;
              for (var cur = 0, end = xOut.length; cur < end; cur++) {
                if (xOut[xOut.length - 1] < xIn[xIn.length - 1])
                  break;
                xOut.pop();
                laterX++;
              }
              console.info(laterX);

              var yOut = self.analysis.interpolate(xOut, xIn, yIn);
//              console.log(xIn);
//              console.log(yIn);
//              console.log(xOut);
//              console.log(yOut);
              s.data[0].push('OBS');

              // 'pula' valores de x antecedentes ao primeiro x do histórico carregado
              for (var k = 0; k < previousX; k++) {
                s.data[k+1].push(NaN);
              }

              // verificar se valor inicial deve ser zero e adicioná-lo
              var allZero = true;
              for (var k = 1 + previousX; k < s.data[1].length; k++) {
                allZero &= s.data[1][i] === 0;
              }
              s.data[1+previousX].push(allZero ? 0 : yOut[0]);
              // adicionar os valores restantes
              for (var k = 2 + previousX; k < s.data.length - laterX; k++) {
                s.data[k].push(yOut[k-1-previousX]);
              }
              console.log(s.data);
              // adiciona valores NaN no final do histórico se necessário para preencher adequar à qtd de valores das simulações
              for (var k = s.data.length - 1; k > (s.data.length - 1) - laterX; k--) {
                console.log(k);
                s.data[k].push(NaN);
              }
//              self.async(function() {self.fire('toast-notification', {text: 'Histórico de "' + s.name + '" carregado.'})});
              z++;
            }
          }
          self.fire('toast-notification', {text: 'Históricos de ' + z + ' séries carregados.'});
        };

        this._onFileInputChange(e, onload);
      },

      _onScriptChange: function(e) {
        var self = this;
        var terminal = this.$.footer.$.terminal;

        var onload = function(e) {
          //console.log(this.result);
          var commands = this.result.split('\n');
          var failed = false, i = -1;

          var exec = function() {
            failed = !terminal.execute(commands[++i]);
            if (!failed && i < commands.length-1) {
              self.async(exec, 1);
            } else {
              self.fire('iron-signal', {name: 'script-loaded'});
            }
          };

          if (!failed && i < commands.length-1) self.async(exec, 1);
        };

        this.fire('iron-signal', {name: 'script-loading'});
        this._onFileInputChange(e, onload);
      },

      _onFileInputChange: function(e, onload) {
        if (!(e.target.files && e.target.files.length))
          return;

        var file = e.target.files[0];
        var reader = new FileReader();
        reader.onload = onload;
        reader.readAsText(file);
      },

      _saveAnalysis: function(e) {
        var model = this.analysis.model;
        console.log(model);
        var serializedModel = JSON.stringify(model);
        var blob = new Blob([serializedModel], {type: "text/json;charset=utf-8"});
        saveAs(blob, "analysis.sim");
      },

      _exportParams: function() {
        var separator = ';';
        var lines = [];
        // header
        lines.push(this.params[0].join(separator));
        for (var r = 1; r < this.params.length; r++) {
          lines.push(this.params[r].join(separator).replace(/\./g,','));
        }

        var content = lines.join('\n');

        if (Object.keys(this.obsParams).length > 0) {
          var obsLine = 'OBS;';
          for (var i = 1; i < this.params[0].length; i++) {
            obsLine += ((this.obsParams[i] ? this.obsParams[i] : '') + ';');
          }
          content += ('\n' + obsLine.slice(0, -1));
        }

        var blob = new Blob([content], {type: "text/plain"});
        saveAs(blob, "export.csv");
      },

      _undo: function() {
        this.analysis.undo();
      },

      _redo: function() {
        this.analysis.redo();
      },

      _isEmpty: function(length) {
//        console.warn('_isEmpty');

        return length === 0;
      },

      _computeUndoTitle: function(length) {
        return length ? 'Desfazer "' + this.commandHistory[length-1]._name + '" (Ctrl+Z)' : 'Não é possível Desfazer';
      },

      _computeRedoTitle: function(length) {
        return length ? 'Refazer "' + this.undoHistory[length-1]._name + '" (Ctrl+Shift+Z)' : 'Não é possível Refazer';
      }
    });
  })();
  </script>
</dom-module>
