<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html"/>
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html"/>
<link rel="import" href="../../bower_components/paper-fab-transitions/paper-fab-speed-dial.html">
<link rel="import" href="../behaviors/controller-behavior.html"/>

<dom-module id="analysis-fab">
  <template>
    <style>
      :host {
        display: block;
        position: absolute;
        /*right: 24px;*/
        right: 32px;
        bottom: 24px;
        z-index: 310;
        opacity: 0.92;
      }
    </style>

    <paper-fab-speed-dial direction="top">
      <paper-fab icon="add" class="dropdown-trigger" tabIndex="-1"></paper-fab>
      <div class="dropdown-content">
        <paper-fab mini icon="simular:timeline" on-tap="_newSeriesPlot" title="Series Plot (Ctrl+D)"></paper-fab>
        <paper-fab mini icon="simular:grain" on-tap="_newParamsPlot" title="Scatter Plot (Ctrl+S)"></paper-fab>
        <paper-fab mini icon="simular:calculator" on-tap="_objFunctionDialog" title="Novo parâmetro por função (Alt+A)"></paper-fab>
      </div>
    </paper-fab-speed-dial>

  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'analysis-fab',

      behaviors: [
        Simular.Controller
      ],

      _newSeriesPlot: function() {
        this.analysis.execute(new smlr.AddSeriesPlotCommand());
      },

      _newParamsPlot: function() {
        this.analysis.execute(new smlr.AddParamsPlotCommand());
      },

      _objFunctionDialog: function() {
        this.fire('iron-signal', {name: 'show-obj-function'})
      }
    });
  })();
  </script>
</dom-module>
