<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../behaviors/command-handler-behavior.html">

<dom-module id="terminal-plugin">
  <template>
    <style include="shared-styles">
      :host {
        @apply(--layout-vertical);
        height: 128px;

        color: var(--secondary-text-color);
      }

      ::-webkit-scrollbar-track-piece {
        background-color: var(--tertiary-background-color);
      }

      .header {
        @apply(--layout-horizontal);
        padding: 0 8px;
        line-height: 24px;
        font-size: 11px;
      }

      .header iron-icon {
        /*--iron-icon-height: 18px;*/
        /*--iron-icon-width: 18px;*/
        padding: 3px;
        box-sizing: border-box;
        cursor: pointer;
      }

      .content {
        @apply(--layout-vertical);
        @apply(--layout-flex);
        overflow: auto;
        line-height: 16px;
        font-size: 12px;
        background-color: var(--primary-background-color);
        padding: 4px 8px;
        /*margin-bottom: 18px;*/
      }

      .content .log {
        @apply(--layout-flex);
      }

      .content .log .bottom-pad {
        display: block;
        height: 15px;
      }

      .command {
        @apply(--layout-horizontal);
        color: var(--primary-text-color);
        background-color: var(--primary-background-color);
        position: fixed;
        left: 0;
        bottom: 32px;
        right: 16px;
        padding-left: 8px;
        z-index: 220;
      }

      .command .indicator {
        margin-right: 4px;
      }

      .command input {
        @apply(--layout-flex);
        background-color: var(--primary-background-color);
        outline: none;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      .command input:focus, .command input:active, div.log:focus, div.log:active  {
        outline: none;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      .log .log-item, .command span, .command input {
        font-family: "Roboto Mono", monospace;
        font-size: 0.95em;
        font-weight: 400;
      }
    </style>

    <div class="header">
      <div class="title">Terminal</div>
      <div class="flex"></div>
      <div class="actions">
        <iron-icon icon="simular:minus" on-tap="hide"></iron-icon>
      </div>
    </div>

    <div id="content" class="content">
      <div id="log" class="log" tabindex="0" on-keyup="_focusInput">
        <template is="dom-repeat" items="[[log]]">
          <div class="log-item">[[item]]</div>
        </template>
        <div class="bottom-pad"></div>
      </div>
      <div class="command">
        <span class="indicator">&gt;&gt;</span>
        <input id="cmdInput" type="text" value="{{commandLine::input}}" tabindex="1" on-keyup="_execute">
      </div>
    </div>
  </template>
  <script>
  (function() {
    'use strict';

    var UP = 38,
        DOWN = 40,
        ENTER = 13;

    Polymer({
      is: 'terminal-plugin',

      behaviors: [
        Simular.CommandHandler
      ],

      properties: {
        history: {
          type: Array,
          notify: true,
          value: function() {
            return [];
          }
        },

        log: {
          type: Array,
          notify: true,
          value: function() {
            return [];
          }
        },

        commandLine: String,

        lastHistoryIndex: Number
      },

      observers: [
        '_updateContentScroll(log.*)'
      ],

      focus: function(keepScrollPosition) {
        var top = this.$.content.scrollTop;
        this.$.cmdInput.focus();
        if (keepScrollPosition === true) {
          this.async(function() { this.$.content.scrollTop = top });
        }
      },

      hide: function() {
        this.fire('terminal-hide');
      },

      execute: function(cmd) {
        cmd = cmd ? cmd.trim() : '';

        if (cmd == '' || cmd.indexOf('#') === 0) {
          return true;
        }

        this.println(cmd);

        if (cmd === 'help') {
          this.println('* Comandos disponíveis:');
          this.commands.forEach(function(c) {
            this.println('...  ' + c);
          }, this);
          return true;
        }

        try {
          this.eval(cmd);
        } catch(e) {
          this.println('ERRO: ' + e.message);
          return false;
        }

        return true;
      },

      println: function(cmd) {
        this.push('log', cmd);
      },

      clear: function () {
        this.commandLine = null;
      },

      _execute: function(e) {
        if (e.keyCode === ENTER) {
          this._appendToHistory(this.commandLine);
          this.execute(this.commandLine);
          this.clear();
        } else if (e.keyCode === UP) {
          this.commandLine = this.lastHistoryIndex > 0 ? this.history[--this.lastHistoryIndex] : this.history[this.lastHistoryIndex];
        } else if (e.keyCode === DOWN) {
          this.commandLine = this.lastHistoryIndex < this.history.length ? this.history[++this.lastHistoryIndex] : null;
        }
      },

      _appendToHistory: function(cmd) {
        this.push('history', cmd);
        this.lastHistoryIndex = this.history.length;
      },

      _updateContentScroll: function(e) {
        this.async(function() {
          this.$.content.scrollTop = this.$.content.scrollHeight;
        });
      },

      _focusInput: function(e) {
        if (e.keyCode === ENTER) this.focus();
      }
    });
  })();
  </script>
</dom-module>
